<a href="https://colab.research.google.com/github/suwatoh/Python-learning/blob/main/130_%E3%83%87%E3%83%BC%E3%82%BF%E3%83%99%E3%83%BC%E3%82%B9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

データベース
============

データベース用語
----------------

**データベース**（Database; DB）:  
様々な情報を整理し効率よく使用するために格納するデータの集合体のこと。

**関係データベース**（Relational Database; RDB）:  
複数の表形式によって管理された DB のこと。RDB を構成する表形式をテーブルと呼ぶ。表を構成する行をレコード、列をカラムまたはフィールドと呼ぶ。

**キー**（Key）:  
カラムに意味を持たせてマークされたもの。テーブルに登録されたレコードを特定するのにもっとも好ましいとしてマークされるキーは**主キー**（primary key; PK）と呼ばれる。関連のあるテーブルのあるカラムに属する値に制約されるとしてマークされるキーは、**外部キー**（foreign key; FK）と呼ばれる。

**ER モデル**（Entity Relationship Model）:  
RDB の設計手法。システムが取り扱う対象とする現実世界の要素を抽象化し、「顧客」「商品」「注文」のように名詞として表すことができるもの（物理的な存在とは限らない）を**エンティティ**（実体）、実体間の関係性を表す要素を**リレーションシップ**（関連）、実体と関連それぞれの性質を**アトリビュート**（属性）として扱う。

**多重度**（Cardinality）:  
あるエンティティ（テーブル）の 1 つのインスタンス（レコード）が、もう一方のエンティティのいくつのインスタンスと関連付けられるかを示すもの。**一対一**、**一対多**、**多対多**などに分類される。

**ER 図**（Entity Relationship Diagram）:  
ER モデルを図示したもの。エンティティを長方形で表し、その中にアトリビュートを記入する。水平線の上にあるアトリビュートは主キーであることを表す。後ろに「(FK)」が続くアトリビュートは外部キーであることを表す。依存関係のリレーションシップを実線で表し、非依存関係のリレーションシップを点線で表す。リレーションシップの多重度の表記はいくつかの種類がある。**IE**（Information Engineering）と呼ばれる記法では、「○｜」なら 0 か 1、「｜｜」ならちょうど 1、「○」と鳥の足なら 0 以上、「｜」と鳥の足なら 1 以上。

![](https://www.plantuml.com/plantuml/png/SoWkIImgAStDuSf9JIjHACbNACfCpoXHICaiIaqkoSpFuqhEIImkLdYvSFdJTOiyNHHiR21CEpk5QYu5gFZJ2RrSjL2LppQlU3Qj7QmImeIeX9lmVa-7c_VxFPr08OZyi-bBdyrimj0Va_TiHj_pBHkUJrtrj7yxt3I88DJCfrFRdavk1DeEOlVEUB9l8SZKgHjUjlS3pOExkQP6Jo-_6k4oBZWBAAMhMrEDmrAkZCoKL8NKt8AIIeNSr9AC_9HYi11o82Hd5YNdfCA48URW48OOZP1qICrB0OOy0000)

**データベース管理システム**（Database Management System; DBMS）:  
データベースを構築し、操作するためのソフトウェアのこと。

**関係データベース管理システム**（Relational Database Management System; RDBMS）:  
RDB を扱う DBMS のこと。

**フェッチ**（fetch）:  
DB の表形式において 1 行を取得し変数に格納すること。

**カーソル**（Cursors）:  
DB の表形式において 1 行を特定する仮想的な道具を指す。カーソルを使用して処理の対象とする行を特定しておいて、その行からフェッチを行ったり、その行を更新したり、または削除したりすることができる。カーソルにより行を特定することを、カーソルを位置づけるという。

**NULL**:  
DB の表形式において欄に値が存在しない、または値はあるが未知であることを示す。浮動小数点演算の NaN（非数）に近い。

**トランザクション**（Transaction）:  
分けることのできない一連の更新処理の一単位を意味する。この一連の更新処理を分割して実行した場合、データの整合性を保てなくなる。ex. 銀行の ATM 決済では、「振込み元の口座における残高の減算処理」と「振込み先の口座における残高の加算処理」は分割できない一連の流れ、すなわちトランザクションに乗せて処理が実行される。

**コミット**（Commit）:  
直訳すると「責任を伴う約束をする」という意味であり、DB に対するトランザクションにおいて、その更新処理を確定させることを意味する。

**ロールバック**（Rollback）:  
DB のトランザクション処理において、問題が生じた場合に実行した処理を取り消して、元の状態に戻すことを指す。後退復帰ともいう。

**ロールフォワード**（Rollforward）:  
停電などの障害が起きた場合に、DB のバックアップ地点まで戻し、それ以降の処理をログファイルから順番に実行、障害発生直前の状態まで復旧することを指す。前進復帰ともいう。

**ACID**:  
信頼性のあるトランザクションが持つべき 4 つの特性 Atomicity, Consistency, Isolation, Durability を指す。Atomicity（不可分性）とは、トランザクションに含まれる処理が「すべて実行される」か「一つも実行されない」のどちらかの状態になるという性質のことである。つまり、データが破損したりゴミデータが残ったりしないこと。Consistency（一貫性）とは、トランザクションの前後でデータが矛盾しないように整合性が保たれる性質のことである。Isolation（独立性）とは、トランザクション実行中に他のプロセスなどからデータを読み取ろうとしても、処理途中のデータが読み取られないようにする性質のことである。データベースソースにロックを掛ける排他制御（mutex）などが利用される。Durability（永続性）とは、トランザクションが完了時にその結果をログファイルに記録しシステム障害などが生じても失われることがないという性質のことである。

**ページ**（page）:  
DBMS がデータを読み書きする際の単位となるバイト数。HDD や SSD などのストレージデバイス上にデータを保存する DB の場合、1 件（表形式における 1 行）とページは一致しないのに対して、メインメモリ上でデータを保存する DB（インメモリデータベース）の場合は、1 件とページが一致する（無駄な I/O が軽減されるため高速）。

**データベース言語**（Database Language）:  
コンピューターにおいてデータベースを扱うために用いられる言語のこと。プログラミング言語は複数の命令文を記述して一つのプログラムを作成するのであるが、データベース言語はこれとは異なり、1 行程度の命令文をコマンドとして実行し、その都度結果を引き出す形式をとる。

**クエリ**（Query）:  
直訳すると「問い合わせ」という意味であり、DBMS に対してデータの検索や更新などの処理を要求する命令文を指す。主要な命令文がクエリであることから、データベース言語は問い合わせ言語とも呼ばれる。

**SQL**:  
1970 年代に IBM 社によって開発された SEQUEL（Structured English Query Language の略）が元になった RDBMS 用のデータベース言語である。SQL は Structured Query Language の略とされ、直訳すると「構造化された問い合わせ言語」という意味であり、読みは「エスキューエル」または元の名前のまま「シークェル」。MySQL、PostgreSQL などの多くの RDBMS 製品は、データベース言語に独自に拡張した SQL を採用している。

**標準 SQL**:  
国際標準化機構（ISO）で標準化された規格に沿って記述された SQL 文のこと。1992 年に制定された規格 SQL-92 が今日の RDBMS におけるデータベース言語の基盤となっている。SQL-92 では、Entry、Intermediate、Full という 3 つの機能セットを定義し、段階的に準拠できるようにした。標準 SQL 準拠をうたっている RDBMS 製品のほとんどは、Entry レベルのみに適合している。標準 SQL の規格は数年おきに改訂され、2003 年以降に発表されたものは SQL:2003 のように呼ばれている。

**NoSQL**:  
一般に「Not only SQL」の略称と解釈され、RDBMS 以外の DBMS 全般を指す。RDB の構造にとらわれないため、大量のデータを高速に処理できる製品がある。たとえば、JSON 形式のデータを格納して扱うことができる MongoDB など。RDBMS 製品の中には、NoSQL としても使えるものがある。

SQLite
------

SQLite は、パブリックドメインの軽量な RDBMS である。C のライブラリとして提供され、サーバーとしてではなくアプリケーションに組み込んで利用される。Android や iOS にも組み込まれている。基本的な RDBMS の機能を備えており、SQL-92 の一部に準拠している。また、JSON 形式のデータを扱う NoSQL としても使える。

SQLite の特徴は、データの保存に単一のファイルのみを使用することである。インメモリデータベースとしても利用可能である。SQLite はファイルアクセスのライブラリに過ぎないため、ネットワークで複数のコンピューターを連携させる大規模システムに対応することはできない。また、ユーザーという概念をサポートしておらず、データベースに対するアクセス制御はすべて OS のユーザー属性（ブラウザ経由なら `.htaccess` によるアクセス制限）によって行う。

SQLite は、他の RDBMS 製品に見られるような設定作業が不要で、付属の CLI （`sqlite3` コマンド）から直ちに使うことができる。

ACID 特性を備えたトランザクションをサポートし、その処理はスレッドセーフである。データベースにアクセスするすべてのコマンドは、トランザクションがまだ有効になっていない場合、トランザクションを自動的に開始する。自動的に開始されたトランザクションは、最後の SQL 文が終了したときにコミットされる。こうしたトランザクション制御は**オートコミットモード**と呼ばれる。

Python には、SQLite インターフェースを提供する `sqlite3` モジュールが標準ライブラリとして付属しており、Python をインストールした環境では SQLite を利用できる。なお、`sqlite3` は SQLite 3.7.15 以降に対応している。利用可能な SQLite のバージョン番号は、モジュール定数 `sqlite3.sqlite_version` で確認できる。

In [ ]:
import sqlite3
sqlite3.sqlite_version

'3.37.2'

DB-API 2.0
----------

**DB-API 2.0**とは、PEP 249（Python データベース API 仕様 v2.0）にて、Python から様々な DBMS を操作するための共通のインターフェースの仕様を定義したものである。

**DB-API 拡張**とは、PEP 249 にて、オプションの API として定義されたものである。

`sqlite3` モジュールは、DB-API 2.0 に準拠している。以下では、DB-API 2.0 において定義された主な定数・関数と、`sqlite3` での注意点を整理する。なお、関数の戻り値について、DB-API 2.0 に指定がなく、`sqlite3` で `None` となっている場合は、`None` とした。

### グローバル変数 ###

``` python
apilevel
```

モジュール定数であり、`'2.0'` であるなら、モジュールは DB-API 2.0 準拠であることを示す。

``` python
threadsafety
```

モジュール定数であり、モジュールがサポートするスレッドセーフのレベルを示す。SQLite のコンパイル時オプション `SQLITE_THREADSAFE` との対応は以下のとおり:

| 値 | DB-API 2.0 での意味 | SQLITE_THREADSAFE |
|:--:|:---|:---|
| 0 | スレッド間でモジュールを共有できない | 0 （シングル・スレッド） |
| 1 | スレッド間でモジュールを共有できるが、接続を共有することはできない | 2 （マルチ・スレッド） |
| 2 | スレッド間でモジュールと接続を共有できる | - |
| 3 | スレッド間でモジュール、接続に加えて、カーソルも共有できる | 1 （直列化） |

`SQLITE_THREADSAFE` の値が示す SQLite のスレッド・モードの意味は、次のとおり。

  * シングル・スレッド: このモードでは、データベースについての排他制御がすべて無効であり、一度に複数のスレッドで SQLite を使用するのは安全ではない
  * マルチ・スレッド: このモードでは、 1 つのデータベース接続が 2 つ以上のスレッドで同時に使用されない限り、複数のスレッドで SQLite を安全に使用できる
  * 直列化: SQLite を複数のスレッドで制限なく安全に使用できる

``` python
paramstyle
```

文字列定数で、SQL 文の中で使われるとモジュールがプレースホルダーと認識するもの。取りえる値は以下のとおり。

| paramstyle | 説明 |
|:---|:---|
| `qmark` | クエスチョンマーク。例: `...WHERE name=?` |
| `numeric` | 数字、実引数の順番。例: `...WHERE name=:1` |
| `named` | 名前付き形式。例: `...WHERE name=:name` |
| `format` | ANSI C の printf 形式。例: `...WHERE name=%s` |
| `pyformat` | Python の拡張形式。例: `...WHERE name=%(name)s` |

In [ ]:
import sqlite3
print(f"{sqlite3.apilevel=}")
print(f"{sqlite3.threadsafety=}")
print(f"{sqlite3.paramstyle=}")

sqlite3.apilevel='2.0'
sqlite3.threadsafety=1
sqlite3.paramstyle='qmark'

### 例外 ###

`Error` は、モジュールにおける全ての例外に対する基底クラスである。このクラスを使えば、全てのエラーを一つの `except` 文で捕捉できる。

`InterfaceError` は、データベース自体ではなく、モジュールに関するエラーの際に送出される（おそらくモジュールのバグ）。

`DatabaseError` は、以下の例外の基底クラスである。

  * `DataError`:  
処理したデータの問題に起因するエラーの際に送出される例外。たとえば、ゼロによる除算、範囲外の数値や長すぎる文字列など。
  * `OperationalError`:  
データベースの操作に関連したエラーで、プログラマーが制御しきれない状況に対して送出される例外。たとえば、予期しない接続遮断の発生、データソース名が見つからなかった、トランザクションが処理できなかった、処理中に発生したメモリアロケーションエラーなど。
  * `IntegrityError`:  
データベースの参照整合性が影響を受ける場合に送出される例外。
  * `ProgrammingError`:  
SQL 文のエラーに対して送出される例外。たとえば、テーブルが見つからない、テーブルがすでに存在する、SQL 文の構文エラー、引数の数が間違って指定されている、など。
  * `NotSupportedError`:  
データベースがサポートしていないメソッドやデータベース API を使った場合に送出される例外。

### コンストラクタ ###

``` python
connect(parameters...)
```

この関数は、データベースに接続し、コネクションオブジェクトを返す。

`sqlite3` では、この関数は次のように定義される:

``` python
sqlite3.connect(database, timeout=5.0, detect_types=0, isolation_level='DEFERRED', check_same_thread=True, factory=sqlite3.Connection, cached_statements=128, uri=False, *, autocommit=sqlite3.LEGACY_TRANSACTION_CONTROL)
```

| 引数 | 意味 |
|:---|:---|
| `database` | データベースファイルへの path-like オブジェクトを指定する。あるいは、 `':memory:'` を指定すると、インメモリデータベースに接続する |
| `timeout` | 別の接続によりトランザクションが開始されテーブルがロックされている場合、`sqlite3.OperationalError` 例外を送出する前に接続を待機する秒数を浮動小数点数で指定<br />する。デフォルトは 5 秒 |
| `detect_types` | SQLite がサポートしないデータ型を検出して、Python のデータ型との変換方法を整数値で指定する。デフォルト (0) では、データ型検出は無効になっている |
| `isolation_level` | この値はオブジェクトの `isolation_level` 属性に格納される。`isolation_level` 属性はトランザクション制御で使用される |
| `check_same_thread` | `True`（デフォルト）の場合、データベース接続を作成したスレッド以外のスレッドがデータベース接続を使用すると、`sqlite3.ProgrammingError` 例外が送出される。`False` の<br />場合、接続は複数のスレッドからアクセスできる。ただし、データの破損を避けるために、ユーザーによる書き込み操作の直列化が必要になることがある |
| `factory` | コネクションオブジェクトのクラスを指定する。デフォルトは `sqlite3.Connection` |
| `cached_statements` | `sqlite3` がこの接続のために内部的にキャッシュする SQL 文の数を指定する。SQL 文をキャッシュすることでパース時のオーバーヘッドを回避している。デフォルトでは、<br>128 文 |
| `uri` | `True` に設定すると、 `database` はファイルパスとオプションのクエリ文字列を含む URI として解釈される（SQLite URI） |
| `autocommit` | Python 3.12 で追加されたキーワード専用引数。この値はオブジェクトの `autocommit` 属性に格納される。`autocommit` 属性はトランザクション制御で使用される |

### コネクションオブジェクト ###

コネクションオブジェクトは、DB への接続を管理するオブジェクトで、次のメソッドを持つ。

| メソッド | 機能 | 戻り値 |
|:---|:---|:---|
| `commit()` | 処理中のトランザクションを DB  にコミットする<br />※ トランザクションをサポートしないデータベースモジュールでも、このメソッドは定義されるが何も行わない | `None` |
| `rollback()` | 処理中のトランザクションすべてについてロールバックを行う<br />※ トランザクションをサポートしないデータベースモジュールでは、このメソッドは定義されない | `None` |
| `close()` | 接続を即座に切断する。その後、接続は使用できなくなる。前もって更新のコミットを行わずに切断すると、保留中のトランザクションが<br />暗黙的にロールバックされる | `None` |
| `cursor()` | 現在の接続を使って、新たなカーソルオブジェクトを返す | カーソルオブジェクト |

また、`sqlite3` のコネクションオブジェクトは次のメソッドも持つ。

| メソッド | 機能 | 戻り値 |
|:---|:---|:---|
| `execute(sql, parameters=(), /)` | 新しいカーソルオブジェクトを作成し、その `execute()` メソッドを指定の `sql` と `parameters` を渡して呼び出す。<br />新しいカーソルオブジェクトを返す | カーソルオブジェクト |
| `executemany(sql, parameters, /)` | 新しいカーソルオブジェクトを作成し、その `executemany()` メソッドを指定の `sql` と `parameters` を渡して呼び出<br />す。新しいカーソルオブジェクトを返す | カーソルオブジェクト |
| `executescript(sql_script, /)` | 新しいカーソルオブジェクトを作成し、その `executescript()` メソッドを指定の `sql_script` を渡して呼び出す。<br />新しいカーソルオブジェクトを返す | カーソルオブジェクト |
| `backup(target)` | このコネクションオブジェクトが接続している DB を、別のコネクションオブジェクト `target` が接続している DB にコピーする |

``` python
src = sqlite3.connect('example.db')
dst = sqlite3.connect(':memory:')
src.backup(dst)
```

### カーソルオブジェクト ###

コネクションオブジェクトの `cursor()` メソッドで生成されるカーソルオブジェクトは、DB 上のカーソルを表現する。

``` python
cur = con.cursor()
```

以下は、カーソルオブジェクトのメソッドである。

``` python
cur.execute(operation[ ,parameters])
```

このメソッドは、単一のデータベース操作 `operation` を実行する。`operation` 内でプレースホルダーを使用し、`parameters` に指定した Python 上の値に結び付け（bind）することができる。戻り値はカーソルオブジェクト。

`sqlite3` では、`operation` と `parameters` から単一の SQL 文を組み立てる。`operation` 内で次の 2 種類のプレースホルダーのいずれかを使用できる。

  * qmark スタイル: 疑問符 `'?'` を使う。 qmark スタイルの場合、 `parameters` はシーケンスでなければならず、その要素の順番と、 `'?'` が `operation` に現れる順番で、結び付けの対応が決まる。シーケンスの長さと `'?'` の個数が一致しない場合、`ProgrammingError` 例外が発生する。
  * 名前付きスタイル: `':name'` の形を使う。名前付きスタイルの場合、`parameters` は `dict`（またはそのサブクラス）のインスタンスである必要があり、すべての名前付きプレースホルダーのキーが含まれている必要がある。余分な項目は無視される。

``` python
cur.executemany(operation, seq_of_parameters)
```
このメソッドは、`execute()` と似ているが、`seq_of_parameters` 内にある全てのシーケンスや辞書について `operation` を実行する。戻り値はカーソルオブジェクト。

`sqlite3` では、単一の SQL 文 `operation` を繰り返し実行する。なお、`sqlite3` では複数の SQL 文を記述した文字列 `sql_script` をまとめて実行する `cur.executescript(sql_script, /)` メソッドを呼び出すこともできる。

``` python
cur.fetchone()
```

このメソッドは、クエリ結果セットの次の行を取得し、タプルとして返す。次のデータがなかった場合には `None` を返す。

直前に呼び出した `executeXXX()` が何も結果を生成しなかった場合や、まだ何も実行していないのにこのメソッドを呼んだ場合には、例外を送出する。

``` python
cur.fetchmany([size=cursor.arraysize])
```

このメソッドは、クエリ結果の次の一連の行集合を取得し、タプルのリストとして返す。取得できるデータがないときには空のリストを返す。呼び出しごとに取得する行数は、`size` で指定できる。デフォルトでは、`arraysize` 属性で指定された行数だけ取得する。最適なパフォーマンスを実現するには、通常は `arraysize` 属性を使うのがベストである。

直前に呼び出した `executeXXX()` が何も結果セットを生成しなかった場合や、まだ何も呼び出しを行っていない場合には、例外を送出する。

``` python
cur.fetchall()
```

このメソッドは、クエリ結果の（残りの）すべての行を取得し、タプルのリストとして返す。有効な行がない場合は、空のリストを返す。`arraysize` 属性は、この操作のパフォーマンスに影響を与える可能性がある。

直前に呼び出した `executeXXX()` が何も結果セットを生成しなかった場合や、まだ何も呼び出しを行っていない場合には、例外を送出する。

``` python
cur.close()
```

このメソッドは、カーソルを即座に閉じる。閉じたカーソルに対してどのような操作を行っても、`Error` またはそのサブクラスの例外（`sqlite3` では `ProgrammingError` 例外）が送出される。

``` python
cur.__next__()
cur.__iter__()
```

これらはイテレータープロトコルをサポートし、カーソルオブジェクトが、現在実行中の SQL 文について結果セットの次の行を取得して返すイテレーターとなる（DB-API 拡張）。

カーソルオブジェクトは、次のプロパティを持つ:

| プロパティ | 意味 | `sqlite3` での注意点 |
|:---|:---|:---|
| `cur.description` | 最後のクエリのカラム名を提供する読み取り専用プロパティ。7 つの要素からなるタプル<br /> `(カラム名,type_code, display_size, internal_size, precision, scale, null_ok)` である | `sqlite3` では、カラム名以外の要素はすべて `None` となる |
| `cur.rowcount` | クエリの実行で変更された行数を提供する読み取り専用プロパティ。そのような行数を決<br />定できない場合には、このプロパティは -1 となる | |
| `cur.arraysize` | 読み書き可能なプロパティで、`fetchmany()` メソッドによって一度に取得可能な行数を指<br />定する。デフォルトの値は 1 で、これは一度に 1 つの行しか取得できないことを意味する | |
| `cur.connection` | 読み出し専用プロパティで、カーソルの生成に使ったコネクションオブジェクトへの参照を<br />提供する（DB-API 拡張） | |
| `cur.lastrowid` | 読み出し専用プロパティで、`ROWID` カラムの自動追加機能をサポートする DB において、<br />最後に挿入されたレコードの `ROWID` 値を提供する。初期値は `None`（DB-API 拡張） | `sqlite3` では、` execute()` で `INSERT` 文が成功した後にのみ更新される。他の<br /> SQL 文や、`executemany()` の後や、 `executescript()` の後や、挿入が失敗した<br />場合、`lastrowid` の値は変更されない |

In [ ]:
import sqlite3

# インメモリデータベースに接続する
con = sqlite3.connect(":memory:")

# カーソルを作成
cur = con.cursor()
assert cur.connection == con

# テーブルを作成するコマンドを実行
cur.execute("CREATE TABLE lang(name, first_appeared)")

# 名前付きスタイルの例:
data = (
    {"name": "C", "year": 1972},
    {"name": "Fortran", "year": 1957},
    {"name": "Python", "year": 1991},
    {"name": "Go", "year": 2009},
)
cur.executemany("INSERT INTO lang VALUES(:name, :year)", data)

# qmark スタイルの例:
params = (1972,)
cur.execute("SELECT * FROM lang WHERE first_appeared = ?", params)

# データをリストで取得
print(cur.fetchall())

res = cur.execute("SELECT * FROM lang")
# カラム名を取得
print(f"{[col for col, *_ in res.description]}")
# カーソルオブジェクトはイテレーター
for row in res:
    print(row)

con.close()

[('C', 1972)]
['name', 'first_appeared']
('C', 1972)
('Fortran', 1957)
('Python', 1991)
('Go', 2009)

このコードでは、DB-API の作法に従って、カーソルオブジェクト `cur` を作成し、処理を行っている。実のところ、`sqlite3` では、コネクションオブジェクトのショートカット・メソッド `execute()` と `executemany()` と `executescript()` を使うことで、カーソルオブジェクトを暗黙裡に作成してクエリを実行できる。カーソルオブジェクトが必要になるのは、結果をフェッチやイテレーターで取得する場合だけで済む。

SQL 基本文法
------------

### 識別子とキーワード ###

SQL 識別子は、テーブル・カラム・データベースなどの名前のことである。

  * 英数文字、非 Latin 文字、アンダースコア `_` は、識別子に使用できる。
  * 識別子の先頭に数字を使うことはできない。
  * 一部の字句はキーワードとして予約され、識別子に使用することはできない。

以下は、標準 SQL でもほとんどの RDBMS 製品でもキーワードとして予約される。

``` text
ALL  AND  AS  CASE  COLLATE  COLUMN  CONSTRAINT  CREATE  CROSS  CURRENT_DATE  CURRENT_TIME
CURRENT_TIMESTAMP  DISTINCT  ELSE  END  EXCEPT FOR  FOREIGN  FROM  FULL  GROUP  HAVING  IN
INNER  INTO  IS  JOIN  LEFT  LIKE  NATURAL  NOT  NULL  ON  OR  ORDER  OUTER OVER PRIMARY
REFERENCES  RIGHT  SELECT  TABLE  THEN  TO  UNION  UNIQUE  USING  WHEN  WHERE  WINDOW  WITH
```

SQLite のキーワードの全体は、公式ドキュメントの [SQLite Keywords](https://www.sqlite.org/lang_keywords.html) を参照。

### 基本文法 ###

SQL は、 `文;` が繰り返された形になる。文では、大文字・小文字を区別しない。一般には、可読性を高めるためキーワードは大文字で書き、識別子は小文字とする。

コメントを記述したい場合には、次の 2 通りの方法がある。

``` sql
-- コメント
```

`--` から行末までに記述された文字列をコメントとする。

``` sql
/* コメント */
```

`/*` から `*/` までに記述された文字列をコメントとする。


``` sql
SELECT * FROM personal; -- リスト
SELECT * FROM /* リストテーブル */ personal;
```

### リテラル ###

SQL のリテラル（定数）は、次のとおり。

  * 文字列: シングルクォート `'` で囲む。 例) `'This is a string'`
  * BLOB: Python のバイト列に相当し、`X` で始まる 16 進表記とする。 例) `X'1FF'`
  * 整数: Python の整数と同様。`0x` で始まる 16 進表記も使える。
  * 実数: Python の浮動小数点数と同様。 `e` を含む指数記法も使える。
  * NULL: `NULL` で表す。

キーワードを識別子に使用すると文法違反になるが、識別子を記述すべきところにキーワードの文字列を記述すると、文字列リテラル値が識別子として扱われ、キーワードを識別子に使用するのと同等となる。

``` sql
CREATE TABLE 'select'(id, name);  -- select をテーブル名として使用する
```

SQLite の文字列は、ダブルクォート `"` にも対応しているので、上記は `"select"` と書いてもよい。

一方、SQLite の文字列では `'\'` を使ったエスケープは使えない。文字列中のシングルクォートは、連続するシングルクオート 2 文字 `''` で表現できる。

また、SQLite では真理値のリテラルがない。代わりに整数を使用して、`1` で真を、`0` で偽を表す。

### データ型 ###

標準 SQL ではデータ型がサポートされ、テーブルを定義する際にデータ型を指定できる。以下のデータ型が定義されている（括弧内はデータ型の別名）。

  * 数値データ型: `SMALLINT`、`INTEGER`（`INT`）、`REAL`、`DOUBLE PRECISION`、`FLOAT`、`DECIMAL`（`DEC`）、`NUMERIC`
  * 文字データ型: `CHARACTER`（`CHAR`）、`CHARACTER VARYING`（`VARCHAR`）、`NATIONAL CHARACTER`（`NCHAR`）、`NATIONAL CHARACTER VARYING`（`NVARCHAR`）、`CHARACTER LARGE OBJECT`（`CLOB`）
  * 日時データ型: `DATE`、`TIME`、`TIMESTAMP`、`INTERVAL`
  * ビット・バイナリデータ型: `BIT`、`BIT VARYING`、`BINARY LARGE OBJECT`（`BLOB`）
  * 論理値データ型: `BOOLEAN`

また、標準 SQL ではデータ型を変換する関数 `CAST` も定義されている:

``` sql
CAST(X AS 型名)
```

この関数は、式 `X` の型を `型名` で表されるデータ型に変換する。

ただし、各 RDBMS 製品でサポートされるデータ型は異なる。SQLite のデータ型は、次の 5 種類のみサポートされる。

  * `NULL`： NULL 値
  * `INTEGER`: 値の大きさに応じて 1, 2, 3, 4, 6, 8 バイトで保存される符号付き整数
  * `REAL`: IEEE 方式の倍精度浮動小数点数
  * `TEXT`: UTF-8, UTF-16BE, UTF-16LE でエンコードされた文字列
  * `BLOB`: 入力のままのバイナリデータ

SQLite では、標準 SQL のデータ型との互換性を持たせるために、データ変換の仕組みが用意されている。この仕組みは Type Affinity と呼ばれる。具体的には、文の中に書かれた型名を文字列の部分一致で Type Affinity を割り当てる。マッチは、次の優先順位で調べられる。

  1. `INT` が含まれていた場合は、INTEGER affinity
  2. `CHAR`, `CLOB`, `TEXT` が含まれていた場合は TEXT affinity
  3. `BLOB` が含まれていた場合は、BLOB affinity
  4. `REAL`, `FLOA`, `DOUB` が含まれていた場合は REAL affinity
  5. それ以外の場合は全て NUMERIC affinity

標準 SQL では、テーブルを定義する際にカラムに対してデータ型が指定され、そのカラムに格納される値が規定される。ところが、SQLite では、指定されたデータ型の型名からカラムに Type Affinity が割り当てられることになる。カラムにデータを格納するとき、Type Affinity は以下のように働く。

  * TEXT affinity： `NULL`, `TEXT`, `BLOB` 型のデータを格納可能。その他のデータは文字列に変換して格納。
  * NUMERIC affinity： すべてのデータ型の値を格納可能。文字列を格納する場合、`INTEGER`, `REAL` の順で変換を試み、変換すると一部の情報が欠けるときは文字列のまま格納するが、そうでなければ変換して格納する。`NULL`, `BLOB` 型の値は、変換せずに格納。
  * INTEGER affinity： NUMERIC affinity と同じ動作である。
  * REAL affinity： 基本的に NUMERIC affinity と同じ動作であるが、整数形式の値の場合、`REAL` 型の値に変換して格納する。
  * BLOB affinity： どんな型の値でも変換せずに格納する。

NUMERIC affinity または INTEGER affinity を持つカラムでは、先に `INTEGER` 型への変換が試行されるため、たとえば文字列 `'3.0e+5'` は、浮動小数点数値 `300000.0` としてではなく、整数 `300000` としてそのカラムに格納される。

どの Type Affinity でも、`NULL`, `BLOB` 型の値は変換されず、そのままカラムに格納される。

Type Affinity により、**SQLite ではカラムの型は『推奨される型』として扱われるにすぎない**。たとえば、`INTEGER` の指定が付いたカラムであっても文字列が格納されていることがある。

この Type Affinity は `CAST` 関数にも働く。実際、`AS` の後ろの型名から Type Affinity が割り当てられ、`CAST` 関数に渡された値に対して、カラムにデータを格納するときと同様の変換を試行する。ただし、NUMERIC affinity と INTEGER affinity では、`CAST` 関数が返す値に違いがある。INTEGER affinity では、整数への変換が一部の情報が欠けるときでも行われる。たとえば、`CAST(4.0 AS NUMERIC)` は値を浮動小数点数 `4.0` のままにするのに対して、`CAST(4.0 AS INT)` は整数 `4` を返す。

値のデータ型は `typeof` 関数を使って取得することができる。

``` sql
typeof(X)
```

この関数は、式 `X` のデータ型を示す文字列 `'null'`, `'integer'`, `'real'`, `'text'`, `'blob'` のいずれかを返す。

また、SQLite ではデータのリスト、および、レコードのリスト（行列）を扱うことができる。

`sqlite3` では、Python の型と SQLite の型を以下のように対応させている:

| Python の型 | SQLite の型
|:---|:---|
| `None` | `NULL` |
| `int` | `INTEGER` |
| `float` | `REAL` |
| `str` | `TEXT` |
| `bytes` | `BLOB` |

### 日時 ###

標準 SQL では、以下の関数を呼び出すことができる。

  * `CURRENT_DATE`: システムの現在の日付（UTC）を返す
  * `CURRENT_TIME`: システムの現在の時刻（UTC）を返す
  * `CURRENT_TIMESTAMP`: システムの現在の日付と時刻（UTC）を返す

これらの関数は括弧 `()` なしで呼び出すことができる。

SQLite は、上記 3 つの `CURRENT_*` 関数をサポートするが、標準 SQL の日時データ型を全くサポートしていない。代わりに、以下の形式を日付と時刻のデータとして扱う。

  * `TEXT`: ISO 8601 形式
      * `YYYY-MM-DD` 形式: 日付（`CURRENT_DATE` 関数が返す形式）
      * `HH:MM:SS` 形式: 時刻（`CURRENT_TIME` 関数が返す形式）
      * `YYYY-MM-DD HH:MM:SS` 形式: 日時（`CURRENT_TIMESTAMP` 関数が返す形式）
  * `REAL`: ユリウス暦紀元前 4713 年 1 月 1 日をエポックとして、そこからの日数を整数部、時分秒を小数部で表す値
  * `INTEGER`: Unix エポック秒

### 演算子 ###

**論理演算子**:

| 演算子 | 意味 |
|:---|:---|
| `NOT X` | `X`が 1（TRUE）の場合に 0（FALSE）を返し、0（FALSE）の場合に 1（TRUE）を返す |
| `X AND Y` | `X` と `Y` のブール式の両方が 1（TRUE）の場合に 1（TRUE）を返す |
| `X OR Y` | `X` と `Y` のブール式の片方が 1（TRUE）の場合に 1（TRUE）を返す |
| `X XOR Y` | `X` と `Y` のブール式の結果が同じ場合に 0（FALSE）、違う場合は 1（TRUE）を返す |

`X`, `Y` が `NULL` になる場合は次のようになる。

  * `NOT NULL` は `NULL` を返す。
  * `0 AND NULL` は 0 (FALSE) を返し、`1 AND NULL` と `NULL AND NULL` は `NULL` を返す。
  * `1 OR NULL` は 1 (TRUE) を返し、`0 OR NULL` と `NULL OR NULL` は `NULL` を返す。
  * `1 XOR NULL` と `0 XOR NULL`、 `NULL XOR NULL` はすべて `NULL` を返す。

**比較演算子**:

| 演算子 | 意味 |
|:---|:---|
| `X = Y` | `X` と `Y` が等しい |
| `X <> Y` | `X` と `Y` が等しくない（SQLite では `!=` も使えるが `<>` のほうが標準） |
| `X > Y` | `X` より `Y` が小さい |
| `X >= Y` | `X` が `Y` 以上 |
| `X < Y` | `X` より `Y` が大きい |
| `X <= Y` | `X` が `Y` 以下 |

これらの比較は、評価結果が 1 (TRUE)、0 (FALSE)、または `NULL` のいずれかになる。`X` または `Y`、もしくは `X` と `Y` 両方が `NULL` の場合は、評価結果が `NULL` になる。

SQLite では異なるデータ型でも比較でき、Type Affinity に基づいてデータ型の変換が行われる。[公式ドキュメント](https://www.sqlite.org/datatype3.html#type_conversions_prior_to_comparison)によると

  * 片方が格納されていたカラムに INTEGER affinity, REAL affinity または NUMERIC affinity が付いていて、もう片方が格納されていたカラムに TEXT affinity, BLOB affinity が付いていたか、あるいはリテラルを直接書いたものである場合、後者に NUMERIC affinity が適用される。
  * 片方が格納されていたカラムに TEXT affinity が付いていて、もう片方はリテラルを直接書いたものである場合、後者に TEXT affinity が適用される。
  * それ以外の場合は変換は行われず、データそのもので比較される。

比較の際のデータ型の変換はカラムへの格納の場合と同様であり、一部の情報が欠けてしまう場合は変換されずそのままの型として比較される。

| 演算子 | 意味 |
|:---|:---|
| `X IS NULL` | `X` が `NULL` である |
| `X IS NOT NULL` | `X` が `NULL` でない |
| `X IN (Y, Z, ...)` | `X = Y OR X = Z OR ...` が 1（TRUE）である |
| `X NOT IN (Y, Z, ...)` | `NOT (X = Y OR X = Z OR ...)` が 1（TRUE）である |
| `X BETWEEN Y AND Z` | `X >= Y AND X <= Z` が 1（TRUE）である（ただし `X` は一度しか評価されない） |
| `X LIKE パターン [ ESCAPE '文字' ]` | `X` がパターンにマッチする |

これらの比較は、評価結果が 1 (TRUE)、0 (FALSE) のいずれかになる。とくに、`NOT IN` については、`(Y, Z, ...)` の中に `NULL` が含まれると、つねに 0 (FALSE) を返すことに注意。

`LIKE` 演算子については、パターンにメタ文字として `%` と `_` が使える。パターンの中では、 `%` は任意の 0 文字以上の文字列にマッチし、 `_` は任意の 1 文字にマッチする。ASCII 範囲の大文字と小文字は区別されない。また、オプションの `ESCAPE '文字'` を指定すると、`'文字'` をエスケープ文字として扱う。たとえば、`ESCAPE '$'` とすると、パターン中の `$%` は `%` そのものにマッチする。

なお、SQLite では `LIKE` 演算子より高度なパターンマッチ検索ができる `GLOB` 演算子が用意されている。`GLOB` 演算子ではメタ文字として正規表現 `[]`, `*`, `?` が使えるほか、大文字と小文字が区別される。メタ文字をエスケープしたい場合には `[]` で囲う（たとえば `'[*]'` は文字 `*` にマッチする）。`LIKE` 演算子とは異なり `GLOB` 演算子ではメタ文字をエスケープする方法を選択できない。

**文字列演算子**:

| 演算子 | 意味 |
|:---|:---|
| `文字列1 \|\| 文字列2` | 連結 |

**その他の演算子**:

SQL でも四則演算、剰余演算、ビット演算について Python と同様の演算子が使える。演算の優先順位は文字列演算が最も高く、次に四則演算および剰余演算が高く、以下、ビット演算、比較演算、論理演算の順となる。ただし、丸括弧 `()` の中の演算が先に評価される。

### 関数 ###

標準 SQL では、以下の関数を使うことができる。

| 関数 | 機能 |
|:---|:---|
| `NULLIF(X, Y)` | `X` と `Y` が同じ値ならば `NULL` を返し、そうでなければ `X` を返す |
| `COALESCE(X, Y, ...)` | `NULL` でない最初の引数を返す。全ての引数が `NULL` の場合は最後の引数を返す。少なくとも 2 つの引数が必要 |

SQLite を含む一部の RDBMS 製品では、以下の関数を使うことができる。

| 関数 | 機能 |
|:---|:---|
| `LENGTH(X)` | 文字列 `X` の文字数を返す |
| `REPLACE(X, Y, Z)` | 文字列 `X` に含まれる全ての文字列 `Y` を文字列 `Z` に置き換えた文字列を返す。大文字小文字が区別される |
| `SUBSTRING(X, Y [,Z])` | 文字列 `X` の位置 `Y` から文字数 `Z` の部分文字列を返す。 `Z` を省略した場合は位置 `Y` から末尾までの部分文字列を返す |
| `ABS(X)` | `X` の絶対値を返す |
| `ROUND(X, [,Y])` | `X` の小数部を `Y` 桁に丸めた浮動小数点数を返す。`Y` を省略した場合は 0 桁に丸めた浮動小数点数を返す |
| `POWER(X, Y)` | `X` の `Y` 乗を返す |
| `RANDOM()` | 疑似乱数値を返す。SQLite3 では `-9223372036854775808` ～ `+9223372036854775807` の範囲の整数となる |
| `HEX(X)` | `X` を 16 進数形式の文字列に変換する |

データ定義
----------

以下の標準 SQL のコマンドは、DDL に分類される。DDL は、Data Definition Language（データ定義言語）の略で、テーブルの作成・削除や、各種設定に使用するコマンドである。

  * `CREATE`
  * `ALTER`
  * `DROP`

### CREATE TABLE 文 ###

`CREATE` は、テーブルなどを新しく作成するコマンドである。

``` sql
CREATE TABLE テーブル名(カラム定義1, カラム定義2, ...);
```

`CREATE TABLE` コマンドはテーブルを新しく作成する。SQLite では、`CREATE TABLE IF NOT EXISTS テーブル名(...)` とすることで、テーブルが存在しないなら作成するようになり、作成済みのテーブルを作ろうとするエラーを防ぐことができる。

テーブル名は任意の識別子を指定できる。ただし、SQLite では、`'sqlite_'` で始まるテーブル名は SQLite 自体が使用するため指定できない。

カラム定義は `カラム名 データ型` の形式である。ただし、SQLite では、データ型の指定が省略可能であり、もしデータ型が指定されても Type Affinity が割り当てられる。たとえば、`CREATE TABLE t1(a INT, b VARCHAR(10));` は、`a` カラムに INTEGER affinity が付き、`b` カラムに TEXT affinity が付く。

`CREATE TABLE` コマンドで、カラムやカラムの組み合わせに以下のような制約を付けることができる。

  * DEFAULT 制約
  * NOT NULL 制約
  * UNIQUE 制約
  * PRIMARY KEY 制約
  * CHECK 制約
  * FOREIGN KEY 制約

``` sql
CREATE TABLE テーブル名(カラム定義 DEFAULT 値, ...);
```

`DEFAULT 値` は、カラムに DEFAULT 制約、すなわち、レコードの追加時にそのカラムの値が省略されている場合のデフォルト値を設定する。デフォルト値にはリテラルを指定でき、さらに、`CURRENT_DATE`, `CURRENT_TIME`, `CURRENT_TIMESTAMP` 関数を指定することもできる。

`DEFAULT 値` の指定がないカラムは、デフォルト値が `NULL` とされる（つまり、`カラム定義 DEFAULT NULL` と宣言している場合と同等）。

``` sql
CREATE TABLE テーブル名(カラム定義 NOT NULL, ...);
```

`NOT NULL` は、カラムに NOT NULL 制約を付ける。NOT NULL 制約を付けたカラムには、`NULL` が格納されると（デフォルト値として `NULL` が格納される場合を含む）、エラーが発生する。

``` sql
CREATE TABLE テーブル名(カラム定義 UNIQUE, ...);
CREATE TABLE テーブル名(カラム定義1, カラム定義2, ... , UNIQUE(カラム名1, カラム名2, ...));
```

`UNIQUE` は、カラムやカラムの組み合わせに UNIQUE 制約を付ける。1 行目の形は単一のカラムの値に UNIQUE 制約を付け、2 行目の形は複数のカラム値の組み合わせに UNIQUE 制約を付ける。UNIQUE 制約を付けたカラム（の組み合わせ）に、すでに格納された値と同じ（組み合わせの）値を格納しようとするとエラーが発生する。ただし、`NULL` は他の `NULL` を含むすべての値とは異なるものとみなされる。つまり、`NULL` の重複はエラーにならない。

``` sql
CREATE TABLE テーブル名(カラム定義 PRIMARY KEY, ...);
CREATE TABLE テーブル名(カラム定義1, カラム定義2, ... , PRIMARY KEY(カラム名1, カラム名2, ...));
```

`PRIMARY KEY` は、カラムやカラムの組み合わせをテーブルの主キーに設定する。主キーは、そのテーブルの各レコードを一意に特定するためのカラムやカラムの組み合わせであり、各テーブルに 1 つだけ設定できる。1 行目の形は単一のカラムを主キーとし、2 行目の形はカラムの組み合わせを主キーとする。

たとえば、次のようなテーブルを作成する場合、社員番号で各レコードを一意に特定できるので、社員番号を主キーに設定できる。

| 社員番号 | 氏名 | 所属 | 住所 |
|---:|:---|:---|:---|
| 1044092 | 山田太郎 | 営業部 | 東京都世田谷区... |
| 1102600 | 山田花子 | 人事部 | 東京都世田谷区... |
| 1153711 | 渡辺次郎 | 人事部 | 神奈川県横浜市... |

また、次のようなテーブルを作成する場合、どのカラムでもレコードを一意に特定できない。

| 学年 | 組 | 出席番号 | 氏名 |
|---:|:--:|---:|:---|
| 1 | A | 1 | 山田太郎 |
| 1 | A | 2 | 山田花子 |
| 1 | B | 1 | 渡辺次郎 |

この場合、学年と組と出席番号の組み合わせなら各レコードを一意に特定できるので、主キーとすることができる。このようにカラムの組み合わせとする主キーを**複合主キー**と呼ぶ。

標準 SQL では、主キーのカラムに NOT NULL 制約および UNIQUE 制約が課せられる。しかし、**SQLite では、主キーに NOT NULL 制約は課せられない**。主キーの値に `NULL` を許可したくない場合は、NOT NULL 制約も付けるとよい。たとえば、`CREATE TABLE t1(a, b NOT NULL PRIMARY KEY);`。

PRIMARY KEY 制約と UNIQUE 制約の違いは、次のとおり。

| 制約 | 制約の個数 | 主キーが INTEGER 型の場合 |
|:---|:---|:---|
| PRIMARY KEY 制約 | 各テーブルに 1 つだけ設定できる | 省略時に連番機能が働く |
| UNIQUE 制約 | テーブルに複数設定できる | 特別の機能はない |

`CREATE TABLE t1(a, b INTEGER PRIMARY KEY);` のように、単一のカラムを主キーとする場合にそのカラム定義で `INTEGER` を指定した形では、新しいレコードを追加するときに対象のカラムの値を省略すると、自動的に整数値が格納される。カラムに格納される値は、対象のカラムに現在格納されている最大の値に 1 を加えた値となる。

この連番機能は、INTEGER affinity 全般には働かない。たとえば、`CREATE TABLE t1(a INT PRIMARY KEY, b VARCHAR(10));` の場合、主キーである `a` カラムの値を省略してレコードを追加すると、連番が自動的に割り振られることはなく、`NULL` が格納される。

また、INTEGER affinity が付いたカラムとは異なり、`INTEGER PRIMARY KEY` が付いたカラムでは、整数値のみが許可される。`'5'` のような文字列は整数に変換して格納されるが、`'5.0'` など変換すると一部の情報が欠けるような文字列の場合は変換できずエラーが発生する。もちろん、`NULL` は許可されない。

`INTEGER PRIMARY KEY` の指定には、もう 1 つ隠れた機能がある。実は SQLite は、各テーブルに `ROWID` カラムを自動的に追加し、この `ROWID` カラムに、レコードを一意に識別できる値を格納する。`INTEGER PRIMARY KEY` が付いたカラムは `ROWID` カラムのエイリアスになり、`ROWID` カラムを保存する必要がなくなるため、ストレージ使用量削減、処理高速化が可能となる。

``` sql
CREATE TABLE テーブル名(カラム名 CHECK(条件式), ...);
CREATE TABLE テーブル名(カラム名1, カラム名2, ... , CHECK(条件式));
```

`CHECK` は、カラムに CHECK 制約を付ける。CHECK 制約を付けたカラムに値を格納するときに `条件式` が評価され、結果が `0` の場合はエラーが発生する。たとえば、`CREATE TABLE t1(a, b INTEGER check(b >= 1 AND b < 100));` の場合、`b` カラムの値は 1 以上 100 未満の整数のみ許可される。`条件式` の評価が `NULL` を返す場合はエラーが発生しないことに注意する。

``` sql
CREATE TABLE テーブル名(カラム定義1, カラム定義2, ... , FOREIGN KEY(カラム名) REFERENCES 他のテーブル名(参照先カラム名), ...);
```

`FOREIGN KEY/REFERENCES` は、外部キー制約を付ける。外部キー制約を付けたカラムに値を格納するときに、その値が他のテーブルの参照先カラムに存在しなければエラーが発生する。SQLite の場合、外部キー制約はデフォルトでは無効になっている（エラーが発生しない）。次のコマンドを実行することで、外部キー制約を有効化することができる。

``` sql
PRAGMA foreign_keys = ON;
```

`CREATE TABLE` コマンドは、既存のテーブルのデータから新しいテーブルを作成することもできる。

``` sql
CREATE TABLE テーブル名 AS SQL文;
```

`AS` に続く SQL 文は、既存のテーブルからレコードのリスト（行列）を返すものでなければならない。SQL 文が空のリストを返すときは、カラム定義だけが新しいテーブルにコピーされる。SQLite の場合、主キーは設定されないことに注意する。

### CREATE INDEX 文 ###

``` sql
CREATE INDEX インデックス名 ON テーブル名(カラム名1, カラム名2, ...);
```

`CREATE INDEX` コマンドは、テーブルに含まれるカラムを対象として検索用のインデックス（検索インデックス）を作成する。

SQLite では、`CREATE INDEX IF NOT EXISTS インデックス名 ON テーブル名(...)` とすることで、インデックスが存在しないなら作成するようになり、作成済みのインデックスを作ろうとするエラーを防ぐことができる。

検索インデックスは、RDBMS が特定のカラム値のあるレコードをすばやく見つけるために使用される。検索インデックスがないと、RDBMS はレコードを見つけるために、先頭行から始めてテーブル全体を読み取る（テーブルスキャン）必要がある。計算量はデータ量 $n$ に対して $O(n)$ となるから、テーブルの大きさに比例して計算時間が増大する。

検索インデックスが作成されている場合とされていない場合でデータ検索の仕方に違いはない。テーブルに対して検索を行ったとき、検索インデックスが作成されていれば自動的に検索インデックスを利用して検索が行われる。また、データを更新したとき、検索インデックスも自動的に更新される。このように、一度検索インデックスを作成してしまえば、その後の操作で検索インデックスを意識する必要はない。

多くの RDBMS 製品（含 SQLite）では、検索インデックスに B+-tree と呼ばれる木構造を採用している。たとえば、整数値（1, 2, 3, 4, 5, 6, 7）を含むカラムに検索インデックスを作成し、下図のような B+-tree が構築されたとする（Wikimedia Commons から引用）。

![](https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Bplustree.png/320px-Bplustree.png)

この B+-tree では、各ノードにカラム値がソートされた状態で保存され、末端のノード（リーフノード）がレコードへの参照(`ROWID`)を持っていて、他のノードは子ノードへの参照を持っている。検索するときは、まずルートノードへ行く。このルートノードには 3, 5 があり、検索対象のカラム値が 3 未満なら左側の枝でつながる子ノードに行き、3 以上 5 未満なら中央の枝でつながる子ノードに行き、5 以上なら右側の枝でつながる子ノードに行く。リーフノードにたどり着いたら、そこに検索対象のカラム値があれば DBMS はレコードを返し、なければ目的のレコードは存在しないと判断する。どのリーフノードもルートノードからの距離が同じなので、どんなカラム値でもほぼ同じ時間で処理できる。

リーフノードはカラム値でソートされていることに注目する。リーフノードがソートされていなければ、上記のような手順で目的のリーフノードにたどり着くことはできない。データの変更や追加があった時は、リーフノードのソート状態が壊れないように各ノードの参照先の付け替えが行われる。

B+-tree の検索と更新にかかる時間は、データ量 $n$ に対して $O(\log n)$ であることが知られている。

複数のカラムにまたがる 1 つのインデックスのことを**複合インデックス**という。複合インデックスでは、複数のカラムを指定した順に辞書式順序でデータの順序付けを行い、木構造を作成する。例えば、 `CREATE INDEX idx_col1_col2 ON table(col1, col2);` とした場合、まず `col1` カラムの値の大小で順番が決まり、`col1` カラムの値が同じならば `col2` カラムの値の大小で順番が決まる。リーフノードをみると、`col1` カラムの値ではソートされているが、`col2` カラムの値ではソートされていないことになる。このため、複合インデックスから 2 つ目以降のカラムのみを選んで検索に使うことはできない。

一方、複合主キーを指定した検索では、単一のカラムで作成されたインデックスは使用されないことに注意する。

複合インデックスの仕組みから、カラムの順番が重要で、カラムの順番が違えば複合インデックスとして違うものとなる。複合インデックスが複合主キーを指定した検索で使われるためには、カラムの順番を複合主キーと複合インデックスとで一致させておく必要がある。

インデックスの作成は、検索が高速化するメリットがあるだけでなく、以下のようなデメリットもある。

  * 検索インデックスを保存する分、ストレージを消費する。
  * 不等号 `>`, `<`, `>=`, `<=` を使った条件による検索ではあまり効果がない。
  * 検索インデックスを作成していないカラムを指定した検索では全く効果がない。
  * データの更新にかかる時間が（検索インデックスの更新も行われる分）増える。

このため、インデックスを作成するカラムは、検索で使われるかどうかをよく吟味する必要がある。

また、インデックスを作成するカラムのカーディナリティにも注意する。**カーディナリティ**（cardinality）とは、カラム内に存在する異なる値の数（バリエーション）のことである。インデックスは、カーディナリティが大きいほどデータを絞り込めるので、検索高速化の効果がある。 UNIQUE 制約の付いたカラムなら、レコードごとに異なる値を持つので簡単に 1 つのデータを絞り込める。一方、2 つの値しか持たない真理値のカラムに対してインデックスを作成すると、真と偽で半々のレコードがあるなら、そのインデックスでは半数のデータが抽出されてしまうので、検索高速化の効果が少なくデメリットの方が目立つことになる。

SQLite では、`ROWID` カラムを対象とする検索インデックスが自動的に作成される。`INTEGER PRIMARY KEY` が付いたカラムは `ROWID` カラムのエイリアスになるので、`INTEGER PRIMARY KEY` が付いたカラムを対象とする検索インデックスを明示的に作成する必要はない。

### CREATE TRIGGER 文 ###

トリガーは、テーブルにレコードが挿入・更新・削除される度に、その前か後に指定した SQL 文を実行する機能である。これは SQL 非標準の機能であるが、代表的な RDBMS 製品（含 SQLite）がサポートしている。

``` sql
CREATE TRIGGER [ IF NOT EXISTS ] トリガー名 [ BEFORE | AFTER ]
 { INSERT | UPDATE [ OF カラム名, ...] | DELETE } ON テーブル名
 [ FOR EACH ROW ]
 [ WHEN 条件式 ]
 BEGIN
  SQL文1;
  SQL文2;
  ...
 END;
```

`CREATE TRIGGER` コマンドはテーブルにトリガーを作成する。直後に `IF NOT EXISTS` を付けることで、トリガーが存在しないなら作成するようになり、作成済みのトリガーを作ろうとするエラーを防ぐことができる。

オプションの `BEFORE`, `AFTER` では、次に指定する、INSERT・UPDATE・DELETE 句の前にトリガーで指定した SQL 文を実行するのか、後で実行するのかを指定する。デフォルトは `BEFORE`。

`INSERT`, `UPDATE`, `DELETE` は必ずいずれか 1 つを選択する必要があり、それぞれ、テーブルにレコードが挿入された時にトリガーを実行するのか、レコードが更新された時に実行するのか、レコードが削除された時に実行するのかを指定する。`UPDATE OF カラム名, ...` と指定すると、「特定のカラムが更新された」という条件を指定することになる。対象カラムはカンマ区切りで複数指定することができる。

オプションの `FOR EACH ROW` を指定すると、対象テーブルに含まれるレコードに対して更新や削除が 1 行行われるたびにトリガーで設定された SQL 文が実行される。SQLite では、これ以外のトリガーの動作をサポートしていないので、`FOR EACH ROW` 指定はあってもなくても動作に違いはない。

オプションの `WHEN 条件式` を指定すると、`条件式` の評価が 1（TRUE）の場合のみトリガーが実行される。

`WHEN 条件式` の中およびトリガーで設定される SQL 文の中では、`NEW.カラム名` や `OLD.カラム名` の形で変更前のカラム値と変更後のカラム値を参照できる。

  * INSERT トリガーでは、`NEW.カラム名` が使用可能。
  * UPDATE トリガーでは、`NEW.カラム名` および `OLD.カラム名` が使用可能。
  * DELETE トリガーでは、`OLD.カラム名` が使用可能。

たとえば、`CREATE TRIGGER tri1 AFTER UPDATE ON t1 WHEN OLD.a >= 1000 BEGIN （略） END;` は、トリガー実行の条件を `a` カラムの変更前の値が `1000` 以上であることとしている。

トリガーは、RDB の構造にシステム固有の処理を持ち込んでいることに注意する。システム固有の処理は、アプリケーション（Python）側にまとめたほうが保守しやすい（トリガーは透過的に実行されるから、その存在を忘れてしまう危険がある）。

### ALTER 文 ###

`ALTER` は、テーブルなどの特性を変更するコマンドである。

``` sql
ALTER TABLE テーブル名 RENAME TO 新しいテーブル名;
```

作成済みのテーブル名を新しいテーブル名に変更する。

``` sql
ALTER TABLE テーブル名 RENAME [ COLUMN ] カラム名 TO 新しいカラム名
```

カラム名を新しいカラム名に変更する。`COLUMN` は省略可能。

``` sql
ALTER TABLE テーブル名 ADD [ COLUMN ] カラム定義;
```

作成したテーブルの最後にカラムを追加する。カラム定義は `カラム名 データ型` の形であり、`CREATE TABLE` と同様である。ただし、以下の条件をすべて満たしていなければならない。

  1. PRIMARY KEY 制約や UNIQUE 制約は設定できない。
  2. DEFAULT 制約を設定する場合は、デフォルト値に `CURRENT_TIME`, `CURRENT_DATE`, `CURRENT_TIMESTAMP` を指定することはできない。
  3. NOT NULL 制約を設定する場合は、`NULL` 以外のデフォルト値の指定が必要。

`COLUMN` は省略可能。

``` sql
ALTER TABLE テーブル名 DROP [ COLUMN ] カラム名
```

指定されたカラムをテーブルから削除し、その内容を書き換えて、そのカラムに関連付けられたデータを削除する。SQLite ではバージョン 3.35.0 でこの DROP COLUMN 構文をサポートした。ただし、以下の条件をすべて満たしていなければならない。

  1. カラムが主キーあるいは複合主キーの一部でないこと。
  2. カラムに UNIQUE 制約がないこと。
  3. カラムを対象とした検索インデックスが作成されていないこと。
  4. カラムが他のカラム（他のテーブルのカラムを含む）の CHECK 制約で使われていないこと。
  5. カラムがトリガーに関与していないこと。

`COLUMN` は省略可能。

### DROP 文 ###

`DROP` は、テーブルなどを削除するコマンドである。

``` sql
DROP TABLE [ IF EXISTS ] テーブル名;
```

テーブルを削除する。このテーブルに関連付けされている検索インデックスとトリガーも同時に削除される。デフォルトではテーブルが存在しない場合にエラーが発生するが、オプションの `IF EXISTS` を指定するとテーブルが存在する場合のみ削除し、存在しなくてもエラーが発生しない。

``` sql
DROP INDEX [ IF EXISTS ] インデックス名;
```

検索インデックスを削除する。デフォルトでは検索インデックスが存在しない場合にエラーが発生するが、オプションの `IF EXISTS` を指定すると検索インデックスが存在する場合のみ削除し、存在しなくてもエラーが発生しない。

``` sql
DROP TRIGGER [ IF EXISTS ] トリガー名;
```

トリガーを削除する。デフォルトではトリガーが存在しない場合にエラーが発生するが、オプションの `IF EXISTS` を指定するとトリガーが存在する場合のみ削除し、存在しなくてもエラーが発生しない。

データ操作
----------

以下の標準 SQL のコマンドは、DML に分類される。DML は、Data Manipulation Language（データ操作言語）の略で、データの格納・取り出し・更新・削除などに使用するコマンドである。

  * `INSERT`
  * `SELECT`
  * `UPDATE`
  * `DELETE`

### INSERT 文 ###

``` sql
INSERT INTO テーブル名 VALUES(値1, 値2, ...);
```

対象となるテーブルに含まれる全てのカラムに値を指定してレコードを追加する。値は、左から順に各カラムに格納されていく。値の数がテーブルに含まれるカラムの数と一致していない場合はエラーが発生する。

`VALUES` の後の丸括弧をカンマで区切って複数指定すると、複数レコードを一度に追加する。

``` sql
INSERT INTO テーブル名(カラム1, カラム2, ...) VALUES(値1, 値2, ...);
```

特定のカラムだけに値を指定してレコードを追加する。カラムと値はカンマで区切って同じ数だけ指定する。指定されたカラムには指定された値が格納されるが、指定されなかったカラムには DEFAULT 制約が設定してあればデフォルトの値が格納され、 DEFAULT 制約が設定されていなければ `NULL` が格納される。

`VALUES` の後の丸括弧をカンマで区切って複数指定すると、複数レコードを一度に追加する。

``` sql
INSERT INTO テーブル名 DEFAULT VALUES;
```

値を 1 つも指定せずにレコードを追加する。この場合は全てのカラムにデフォルトの値（DEFAULT 制約が設定してあればデフォルトの値、 DEFAULT 制約が設定されていなければ `NULL`）が格納される。

``` sql
INSERT INTO テーブル名 SQL文;
```

他のテーブルから SQL 文により取得したデータのリストをレコードとしてテーブルに追加する。レコードを追加するテーブルに含まれるカラムの数と、SQL文 で取得するカラム値の数は同じである必要がある（カラム名は異なっていてもよい）。

``` sql
INSERT INTO テーブル名(カラム名1, カラム名2, ...) SQL文;
```

他のテーブルから SQL 文により取得したデータのリストを、左から順に指定したカラムに格納したレコードとしてテーブルに追加する。指定したカラムの数と、 SQL 文で取得するカラム値の数は同じである必要がある（カラム名は異なっていてもよい）。なお、指定されなかったカラムには DEFAULT 制約が設定してあればデフォルトの値が格納され、 DEFAULT 制約が設定されていなければ `NULL` が格納される。

### SELECT 文 ###

``` sql
SELECT カラム名1, カラム名2, ... FROM テーブル名;
```

指定したテーブルに含まれる全てのレコードに対して、テーブルに格納されている順番に従って、カラムの値を取得する。複数のカラムの値を取得する場合は、カンマで区切ってカラムを指定する。

また、カラム名の指定に代えて、（カラム名を含んだ）文字列演算・四則演算・剰余演算や、`LENGTH`, `REPLACE`, `SUBSTRING`, `ABS`, `ROUND`, `POWER` といった関数の式を書くことで、計算結果を取得することもできる。

In [ ]:
import sqlite3

con = sqlite3.connect(":memory:")
sql_script = """
CREATE TABLE IF NOT EXISTS book(
    id INTEGER PRIMARY KEY,
    title TEXT,
    author TEXT,
    price INTEGER
);
INSERT INTO book(title, author) VALUES('SQL入門', '山田太郎');
INSERT INTO book
    (title, author, price)
  VALUES
    ('Python入門', '田中花子', '1500'),
    ('Flutter入門', '鈴木四郎', '3000');
"""
con.executescript(sql_script)
res = con.execute("SELECT id, title, price, price - 2000 FROM book")  # 2000円 との差額も取得する
print(f"{[col for col, *_ in res.description]}")
for row in res:
    print(row)
con.close()

['id', 'title', 'price', 'price - 2000']
(1, 'SQL入門', None, None)
(2, 'Python入門', 1500, -500)
(3, 'Flutter入門', 3000, 1000)

``` sql
SELECT * FROM テーブル名;
```

指定したテーブルに含まれる全てのレコードに対して、全てのカラムの値を取得する。

`ROWID` の値は `*` では取得できない。合わせて取得したい場合には `*` とカンマで区切って指定することで取得できる。

In [ ]:
import sqlite3

con = sqlite3.connect(":memory:")
sql_script = """
CREATE TABLE IF NOT EXISTS person(name TEXT, age INTEGER);
INSERT INTO person VALUES
  ('山田太郎', 25),
  ('田中花子', 18),
  ('鈴木薫子', 30);
"""
con.executescript(sql_script)
res = con.execute("SELECT *, rowid FROM person")
print(f"{[col for col, *_ in res.description]}")
for row in res:
    print(row)
con.close()

['name', 'age', 'rowid']
('山田太郎', 25, 1)
('田中花子', 18, 2)
('鈴木薫子', 30, 3)

### 集約関数 ###

`SELECT` 文で以下の関数を使うことができる。

| 関数 | 機能 |
|:---|:---|
| `AVG(カラム名)` | 指定したカラムの平均値を返す |
| `SUM(カラム名)` | 指定したカラムの合計を返す |
| `MAX(カラム名)` | 指定したカラムの最大値を返す |
| `MIN(カラム名)` | 指定したカラムの最小値を返す |
| `COUNT(カラム名)` | 指定したカラムに含まれる `NULL` 以外の行数を返す |
| `COUNT(*)` | レコードの数を返す |

これらの関数は複数のレコードのデータを 1 つの値にまとめるため**集約関数**（aggregate function）と呼ばれる。

SQLite では、`AVG`, `SUM` の計算において、対象のカラムに文字列などが含まれていた場合に数値に変換できない文字列は 0 として計算する。

In [ ]:
import sqlite3

con = sqlite3.connect(":memory:")
sql_script = """
CREATE TABLE IF NOT EXISTS person(name TEXT, age INTEGER, height REAL);
INSERT INTO person VALUES('山田太郎', 25, 170.5);
INSERT INTO person VALUES('田中花子', 18, 158.2);
INSERT INTO person(name, height) VALUES('鈴木薫子', 170.5);
INSERT INTO person VALUES('渡辺洋平', 30, 170.5);
"""
con.executescript(sql_script)
res =  con.execute("SELECT AVG(height), SUM(height), MAX(height), MIN(height), COUNT(age), COUNT(*) FROM person")
print(f"{[col for col, *_ in res.description]}")
for row in res:
    print(row)
con.close()

['AVG(height)', 'SUM(height)', 'MAX(height)', 'MIN(height)', 'COUNT(age)', 'COUNT(*)']
(167.425, 669.7, 170.5, 158.2, 3, 4)

### AS 句 ###

``` sql
SELECT カラム名 AS 別名, ... FROM テーブル名;
```

`SELECT` 文の中で `カラム名 AS 別名` と書くと、カラムに別の名前を付けることができる。式で値を取得した場合は、その式がそのまま出力用のカラム名に使われるので、`AS` で適当な長さの別名を付けるとよい。

`AS` を省略して `カラム名 別名` と書いてもよい。

In [ ]:
import sqlite3

con = sqlite3.connect(":memory:")
sql_script = """
CREATE TABLE IF NOT EXISTS person(name TEXT, age INTEGER, height REAL);
INSERT INTO person VALUES('山田太郎', 25, 170.5);
INSERT INTO person VALUES('田中花子', 18, 158.2);
INSERT INTO person(name, height) VALUES('鈴木薫子', 170.5);
INSERT INTO person VALUES('渡辺洋平', 30, 170.5);
"""
con.executescript(sql_script)
res =  con.execute("SELECT ROUND(AVG(height), 1) AS 'average height' FROM person")
print(f"{[col for col, *_ in res.description]}")
for row in res:
    print(row)
con.close()

['average height']
(167.4,)

### CASE 句 ###

``` sql
SELECT
  CASE 式
    WHEN 値1 THEN 式1
    WHEN 値2 THEN 式2
    ELSE 式3
  END [ AS 別名 ]
FROM テーブル名;
```

`SELECT` 文の中で `CASE` は、`CASE` の直後に指定した `式` の値と比較して、`WHEN` 条件を上から順番にチェックしていき、値が合致する場合に `THEN` の直後の式の値を返す。`WHEN` は複数指定でき、2 つ目以降の `WHEN` と `ELSE` は必須ではない。どの値も合致せず、`ELSE` が指定されている場合は `ELSE` の直後の式の値を返す。どの値も合致せず、`ELSE` が指定されていない場合は `NULL` を返す。

出力用のカラムには `CASE ... END` の名前が付くので、`AS 別名` で別名を付けておくとよい。

``` sql
SELECT
  CASE
    WHEN 条件式1 THEN 式1
    WHEN 条件式2 THEN 式2
    ELSE 式3
  END [ AS 別名 ]
FROM テーブル名;
```

`CASE` の直後に何も指定しない場合は、上から順番に条件式を評価していき、最初に 1（True）となった条件式の後ろの `THEN` 直後の式の値を返す。`WHEN` は複数指定でき、2 つ目以降の `WHEN` と `ELSE` は必須ではない。どの値も合致せず、`ELSE` が指定されている場合は `ELSE` の直後の式の値を返す。どの値も合致せず、`ELSE` が指定されていない場合は `NULL` を返す。

In [ ]:
import sqlite3

con = sqlite3.connect(":memory:")
sql_script = """
CREATE TABLE IF NOT EXISTS book(title TEXT, author TEXT, price INTEGER);
INSERT INTO book VALUES('SQL入門', 'Masumi', 2500);
INSERT INTO book VALUES('Flutter入門', 'Masumi', 2500);
INSERT INTO book(title, author) VALUES('HTML入門', 'Hiro');
INSERT INTO book VALUES('GitHub入門2', 'Emma', 2200);
INSERT INTO book VALUES('Flutter上級', 'Oliva', 4500);
INSERT INTO book VALUES('コンピューターの仕組みが100%わかる本', 'Takeda', 1400);
"""
con.executescript(sql_script)

sql_case1 = """
SELECT *,
  CASE title
    WHEN 'SQL入門' THEN '〇×社'
    WHEN 'Flutter入門' THEN '凹凸出版'
    WHEN 'Flutter上級' THEN '凹凸出版'
    ELSE '△□書店'
  END AS publisher
FROM book
"""
res = con.execute(sql_case1)
print(f"{[col for col, *_ in res.description]}")
for row in res:
    print(row)
else:
    print("\n", end="")

sql_case2 = """
SELECT *,
  CASE
    WHEN price < 3000 THEN '3000円より安い'
    ELSE '3000円以上'
  END AS 'price status'
FROM book
"""
res = con.execute(sql_case2)
print(f"{[col for col, *_ in res.description]}")
for row in res:
    print(row)

con.close()

['title', 'author', 'price', 'publisher']
('SQL入門', 'Masumi', 2500, '〇×社')
('Flutter入門', 'Masumi', 2500, '凹凸出版')
('HTML入門', 'Hiro', None, '△□書店')
('GitHub入門2', 'Emma', 2200, '△□書店')
('Flutter上級', 'Oliva', 4500, '凹凸出版')
('コンピューターの仕組みが100%わかる本', 'Takeda', 1400, '△□書店')

['title', 'author', 'price', 'price status']
('SQL入門', 'Masumi', 2500, '3000円より安い')
('Flutter入門', 'Masumi', 2500, '3000円より安い')
('HTML入門', 'Hiro', None, '3000円以上')
('GitHub入門2', 'Emma', 2200, '3000円より安い')
('Flutter上級', 'Oliva', 4500, '3000円以上')
('コンピューターの仕組みが100%わかる本', 'Takeda', 1400, '3000円より安い')

`NULL` に対しては `<` は 1（True）にならないから、`NULL` のレコードも「3000円以上」が返される。そのため、`NULL` のレコードを「3000円以上」と判定されないようにしたい場合は、別途条件設定が必要となる。

### WHERE 句 ###

``` sql
SELECT カラム名, ... FROM テーブル名 WHERE 条件式;
```

`SELECT` 文で `WHERE 条件式` を指定すると、`条件式` の評価が 1（TRUE）となるレコードのみに対して、カラムの値を取得する。

In [ ]:
import sqlite3

con = sqlite3.connect(":memory:")
sql_script = """
CREATE TABLE IF NOT EXISTS book(title TEXT, author TEXT, price INTEGER);
INSERT INTO book VALUES('SQL入門', 'Masumi', 2500);
INSERT INTO book VALUES('Flutter入門', 'Masumi', 2500);
INSERT INTO book(title, author) VALUES('HTML入門', 'Hiro');
INSERT INTO book VALUES('GitHub入門2', 'Emma', 2200);
INSERT INTO book VALUES('Flutter上級', 'Oliva', 4500);
INSERT INTO book VALUES('コンピューターの仕組みが100%わかる本', 'Takeda', 1400);
"""
con.executescript(sql_script)

def output(header, res):
    print(header)
    print(f"{[col for col, *_ in res.description]}")
    for row in res:
        print(row)

output("<WHERE price < 2000 OR author = 'Oliva'>",
       con.execute("SELECT * FROM book WHERE price < 2000 OR author = 'Oliva'"))

output("<WHERE price BETWEEN 2000 AND 3000>",
       con.execute("SELECT * FROM book WHERE price BETWEEN 2000 AND 3000"))

output("<WHERE NOT price BETWEEN 2000 AND 3000>",
       con.execute("SELECT * FROM book WHERE NOT price BETWEEN 2000 AND 3000"))

output("<WHERE price IN(2000, 2500, 4500)>",
       con.execute("SELECT * FROM book WHERE price IN(2000, 2500, 4500)"))

output("<WHERE price NOT IN(2000, 2500, 4500)>",
       con.execute("SELECT * FROM book WHERE price NOT IN(2000, 2500, 4500)"))

output("<WHERE title LIKE '%Flutter%'>",
       con.execute("SELECT * FROM book WHERE title LIKE '%Flutter%'"))

output("<WHERE title LIKE '%入門_'>",
       con.execute("SELECT * FROM book WHERE title LIKE '%入門_'"))

output("<WHERE title LIKE '%100$%わかる本' ESCAPE '$'>",
       con.execute("SELECT * FROM book WHERE title LIKE '%100$%わかる本' ESCAPE '$'"))

output("<WWHERE price IS NULL>",
       con.execute("SELECT * FROM book WHERE price IS NULL"))

output("<WWHERE price IS NOT NULL>",
       con.execute("SELECT * FROM book WHERE price IS NOT NULL"))

con.close()

<WHERE price < 2000 OR author = 'Oliva'>
['title', 'author', 'price']
('Flutter上級', 'Oliva', 4500)
('コンピューターの仕組みが100%わかる本', 'Takeda', 1400)
<WHERE price BETWEEN 2000 AND 3000>
['title', 'author', 'price']
('SQL入門', 'Masumi', 2500)
('Flutter入門', 'Masumi', 2500)
('GitHub入門2', 'Emma', 2200)
<WHERE NOT price BETWEEN 2000 AND 3000>
['title', 'author', 'price']
('Flutter上級', 'Oliva', 4500)
('コンピューターの仕組みが100%わかる本', 'Takeda', 1400)
<WHERE price IN(2000, 2500, 4500)>
['title', 'author', 'price']
('SQL入門', 'Masumi', 2500)
('Flutter入門', 'Masumi', 2500)
('Flutter上級', 'Oliva', 4500)
<WHERE price NOT IN(2000, 2500, 4500)>
['title', 'author', 'price']
('GitHub入門2', 'Emma', 2200)
('コンピューターの仕組みが100%わかる本', 'Takeda', 1400)
<WHERE title LIKE '%Flutter%'>
['title', 'author', 'price']
('Flutter入門', 'Masumi', 2500)
('Flutter上級', 'Oliva', 4500)
<WHERE title LIKE '%入門_'>
['title', 'author', 'price']
('GitHub入門2', 'Emma', 2200)
<WHERE title LIKE '%100$%わかる本' ESCAPE '$'>
['title', 'author', 'price']
('コンピューターの仕組みが100%わかる本', 'Takeda', 1400)
<WWHERE price IS NULL>
['title', 'author', 'price']
('HTML入門', 'Hiro', None)
<WWHERE price IS NOT NULL>
['title', 'author', 'price']
('SQL入門', 'Masumi', 2500)
('Flutter入門', 'Masumi', 2500)
('GitHub入門2', 'Emma', 2200)
('Flutter上級', 'Oliva', 4500)
('コンピューターの仕組みが100%わかる本', 'Takeda', 1400)

上記のコードのように、条件を直接 SQL 文に記述すると、条件を変えて柔軟に探索を行うことができない。条件式の一部を Python の変数にして、SQL 文の該当場所をプレースホルダーに置き換えると、次のように記述できる:

In [ ]:
import sqlite3

con = sqlite3.connect(":memory:")
sql_script = """
CREATE TABLE IF NOT EXISTS customer(name TEXT, age INTEGER, address TEXT);
INSERT INTO customer VALUES
  ('Yamada', 19, 'Tokyo'),
  ('Andou', 34, 'Osaka'),
  ('Kuwata', 26, 'Tokyo');
"""
con.executescript(sql_script)

def search_data(*params):
    res = con.execute("SELECT * FROM customer WHERE name = ?", params)
    print(f"{[col for col, *_ in res.description]}")
    for row in res:
        print(row)

search_data('Yamada')

['name', 'age', 'address']
('Yamada', 19, 'Tokyo')

プレースホルダーを使わず、Python の文字列操作を使用してクエリを組み立てる方法も思いつく。たとえば、以下のコードでは f-string で SQL 文を生成している。一見すると、`name` カラムが一致するデータだけが取得されるように見えるが、`t' OR 't' = 't` を入力すると、条件式は `name = 't' OR 't' = 't'` と展開されて常に 1（TRUE）を返すので、全てのデータが取得されてしまう。

In [ ]:
def search_data2(name):
    res = con.execute(f"SELECT * FROM customer WHERE name = '{name}'")
    print(f"{[col for col, *_ in res.description]}")
    for row in res:
        print(row)

search_data2("t' OR 't' = 't")

['name', 'age', 'address']
('Yamada', 19, 'Tokyo')
('Andou', 34, 'Osaka')
('Kuwata', 26, 'Tokyo')

このように、アプリケーションが想定しない SQL 文を生成・実行させてデータベースシステムを不正に操作する攻撃方法のことを **SQL インジェクション**（SQL injection）と呼ぶ。Python の文字列操作を使用してクエリを組み立てる方法は、SQL インジェクションに対して脆弱である。

これに対して、プレースホルダーを使用する場合、値として置き換えられるので、たとえば `t' OR 't' = 't` という入力は `t'' OR ''t'' = ''t` とエスケープした形に解釈される。したがって、上記のコードでは、`name` カラムの値が `"t' OR 't' = 't"` であるデータを探索しようとするので、どのデータも取得されない。

In [ ]:
search_data("t' OR 't' = 't")
con.close()

['name', 'age', 'address']

### GROUP BY句 ###

``` sql
SELECT カラム名, ... FROM テーブル名 GROUP BY カラム名1, カラム名2, ...;
```

`SELECT` 文で `GROUP BY カラム名` を指定すると、指定したカラムの値が同じであるレコードをグループ化し、グループごとに値を取得する。その際、`FROM` の前に集約関数を使用すると、集約関数はグループ内のレコードのデータに対して計算した結果を返すようになる。カンマ区切りで複数のカラムを指定した場合は、値の組み合わせが同じものでグループ化される。

In [ ]:
import sqlite3

con = sqlite3.connect(":memory:")
sql_script = """
CREATE TABLE IF NOT EXISTS person(name TEXT, age INTEGER, address TEXT);
INSERT INTO person VALUES
  ('Yamada', 19, 'Tokyo'),
  ('Andou', 34, 'Osaka'),
  ('Kuwata', 26, 'Tokyo'),
  ('Wada', 18, 'Tokyo'),
  ('Suzuki', 27, 'Osaka'),
  ('Yamada', 31, 'Tokyo'),
  ('Anzai', 28, 'Nagoya'),
  ('Etou', 19, 'Tokyo');
"""
con.executescript(sql_script)

res = con.execute("SELECT address, COUNT(*) AS count, AVG(age) AS 'average age' FROM person GROUP BY address")
print(f"{[col for col, *_ in res.description]}")
for row in res:
    print(row)
else:
    print("\n", end="")

res = con.execute("SELECT age, address, COUNT(*) AS count FROM person GROUP BY age, address")
print(f"{[col for col, *_ in res.description]}")
for row in res:
    print(row)

con.close()

['address', 'count', 'average age']
('Nagoya', 1, 28.0)
('Osaka', 2, 30.5)
('Tokyo', 5, 22.6)

['age', 'address', 'count']
(18, 'Tokyo', 1)
(19, 'Tokyo', 2)
(26, 'Tokyo', 1)
(27, 'Osaka', 1)
(28, 'Nagoya', 1)
(31, 'Tokyo', 1)
(34, 'Osaka', 1)

`WHERE 条件式` を指定する場合、`GROUP BY カラム名` はその後ろに記述する。

``` sql
SELECT カラム名, ... FROM テーブル名 WHERE 条件式 GROUP BY カラム名, ...;
```

この場合は、まず `WHERE 条件式` で取得するデータを絞り込んだ上でグループ化が行われる。

これに対して、グループ化を行った上で、取得するグループを絞り込むために使用されるのが `HAVING 条件式` である。書式は次の通り:

``` sql
SELECT カラム名, ... FROM テーブル名 GROUP BY カラム名, ... HAVING 条件式;
```

グループ化が行われた結果に対して条件式が適用されるので、`HAVING 条件式` に記述できる式は、取得したデータのカラム名（別名でもよい）を含む演算子、集約関数の式だけとなる。

In [ ]:
import sqlite3

con = sqlite3.connect(":memory:")
sql_script = """
CREATE TABLE IF NOT EXISTS person(name TEXT, age INTEGER, address TEXT);
INSERT INTO person VALUES
  ('Yamada', 19, 'Tokyo'),
  ('Andou', 34, 'Osaka'),
  ('Kuwata', 26, 'Tokyo'),
  ('Wada', 18, 'Tokyo'),
  ('Suzuki', 27, 'Osaka'),
  ('Yamada', 31, 'Tokyo'),
  ('Anzai', 28, 'Nagoya'),
  ('Etou', 19, 'Tokyo');
"""
con.executescript(sql_script)

res = con.execute("SELECT address, COUNT(*) AS count FROM person GROUP BY address HAVING count > 1")
print(f"{[col for col, *_ in res.description]}")
for row in res:
    print(row)

con.close()

['address', 'count']
('Osaka', 2)
('Tokyo', 5)

このコードでは、別名を使わず、`HAVING COUNT(*) > 1` としても同じ結果になる。

### ORDER BY 句 ###

``` sql
SELECT カラム名 , ... FROM テーブル名 ORDER BY カラム名 [ASC | DESC];
```

`SELECT` 文で `ORDER BY カラム名` を指定すると、そのカラムをキーにレコードをソートしてから、その順でデータを取得する。後ろに `ASC` を指定した場合は昇順で、`DESC` を指定した場合は降順でソートする。省略した場合は昇順でソートする。

`WHERE 条件式` や `GROUP BY / HAVING` を指定する場合、`ORDER BY カラム名` はその後ろに記述する。

``` sql
SELECT カラム名 , ... FROM テーブル名 ORDER BY カラム名1 [ASC | DESC], カラム名2 [ASC | DESC], ...;
```

ソートのキーとするカラムをカンマ区切りで複数指定すると、まず最初のカラムでソートを行い、次に最初のカラムで同じ値だったものだけを対象に 2 番目のカラムでソートを行う。3 つ以上指定した場合も同様となる。

In [ ]:
import sqlite3

con = sqlite3.connect(":memory:")
sql_script = """
CREATE TABLE IF NOT EXISTS person(name TEXT, age INTEGER, address TEXT);
INSERT INTO person VALUES
  ('Yamada', 19, 'Tokyo'),
  ('Andou', 34, 'Osaka'),
  ('Kuwata', 26, 'Tokyo'),
  ('Wada', 18, 'Tokyo'),
  ('Suzuki', 27, 'Osaka'),
  ('Yamada', 31, 'Tokyo'),
  ('Anzai', 28, 'Nagoya'),
  ('Etou', 19, 'Tokyo');

CREATE TABLE IF NOT EXISTS tokyo_person(name TEXT, age INTEGER, address TEXT);
INSERT INTO tokyo_person
    SELECT * FROM person
        WHERE address = 'Tokyo'
        ORDER by name ASC, age DESC;
"""
con.executescript(sql_script)

res = con.execute("SELECT * FROM person")
print(f"{[col for col, *_ in res.description]}")
for row in res:
    print(row)
else:
    print("\n", end="")

res = con.execute("SELECT * FROM tokyo_person")
print(f"{[col for col, *_ in res.description]}")
for row in res:
    print(row)

con.close()

['name', 'age', 'address']
('Yamada', 19, 'Tokyo')
('Andou', 34, 'Osaka')
('Kuwata', 26, 'Tokyo')
('Wada', 18, 'Tokyo')
('Suzuki', 27, 'Osaka')
('Yamada', 31, 'Tokyo')
('Anzai', 28, 'Nagoya')
('Etou', 19, 'Tokyo')

['name', 'age', 'address']
('Etou', 19, 'Tokyo')
('Kuwata', 26, 'Tokyo')
('Wada', 18, 'Tokyo')
('Yamada', 31, 'Tokyo')
('Yamada', 19, 'Tokyo')

### LIMIT 句 ###

SQLite を含む一部の RDBMS 製品では、取得するデータの数を指定することができる。

``` sql
SELECT カラム名, ... FROM テーブル名 LIMIT 行数 [ OFFSET 行数 ];
```

`SELECT` 文で `LIMIT 行数` を指定すると、テーブルの先頭行から指定した数のデータを取得する。`OFFSET 行数` も指定すると、先頭行からその指定した行数のレコードをスキップして、指定した数のデータを取得する。

`LIMIT` は `ORDER BY` を記述できる位置の後ろに記述する。`LIMIT` を使う場面はカラム値の大きい順に上位〇件のデータを取得するというようなものがほとんどなので、`LIMIT` は 通常 `ORDER BY` と組み合わせて使われる。

In [ ]:
import sqlite3

con = sqlite3.connect(":memory:")
sql_script = """
CREATE TABLE IF NOT EXISTS person(
    id INTEGER PRIMARY KEY,
    name TEXT,
    rank INTEGER);
INSERT INTO person
    (name, rank)
  VALUES
    ('Yamada', 6),
    ('Andou', 3),
    ('Kuwata', 7),
    ('Wada', 2),
    ('Suzuki', 4),
    ('Anzai', 1),
    ('Etou', 5);
"""
con.executescript(sql_script)
lim = 2

res = con.execute("SELECT name, rank FROM person ORDER BY rank LIMIT 2")
print(f"{[col for col, *_ in res.description]}")
for row in res:
    print(row)
else:
    print("\n", end="")

res = con.execute("SELECT name, rank FROM person ORDER BY rank LIMIT 2 OFFSET 3")
print(f"{[col for col, *_ in res.description]}")
for row in res:
    print(row)

con.close()

['name', 'rank']
('Anzai', 1)
('Wada', 2)

['name', 'rank']
('Suzuki', 4)
('Etou', 5)

`LIMIT` は、標準 SQL の機能ではないため、全ての RDBMS 製品で利用できるわけではないことに注意する。

### OVER 句・WINDOW 句 ###

SQL:2003 以降の標準 SQL では、`SELECT` 文で集約関数の代わりに**ウィンドウ関数**（window function）が使える。ウィンドウ関数は、現在のレコードに何らかの関連があるレコードの集合に対して計算を行う関数である。**分析関数**や **OLAP 機能**とも呼ばれる。ウィンドウ関数が処理対象にする集合を**ウィンドウフレーム**（window frame）と呼ぶ。ウィンドウフレームは `OVER (...)` の形で記述する。

``` sql
ウィンドウ関数 OVER ( [ PARTITION BY カラム名, ... ] [ ORDER BY カラム名 [ASC | DESC], ... ] [フレームスペック] )
```

`OVER` 句が長いと SQL 文の見通しが悪くなる。また、1 つの `SELECT` 文の中で複数のウィンドウ関数を同じ内容の `OVER` 句を伴って使うということがあり、同じ内容の `OVER` 句を記述するのは面倒である。

そこで、ウィンドウフレームの記述（の一部）をウィンドウと呼んで名前を付け、`OVER` 句ではウィンドウ名を記述することで、そこにウィンドウがコピーされるようになっている。ウィンドウ名は `WINDOW` 句で定義する。 `WINDOW` 句は、`WHERE` 条件式 や `GROUP BY / HAVING` の後ろ、`ORDER BY カラム名` の前に記述する。

``` sql
ウィンドウ関数1 OVER ウィンドウ名1, ウィンドウ関数2 OVER ウィンドウ名2, ...
FROM テーブル名
[ WHERE ... ]
[ GROUP BY ... ]
WINDOW ウィンドウ名1 AS ( [ PARTITION BY カラム名, ... ] [ ORDER BY カラム名 [ASC | DESC], ... ] [フレームスペック] ),
       ウィンドウ名2 AS ( [ PARTITION BY カラム名, ... ] [ ORDER BY カラム名 [ASC | DESC], ... ] [フレームスペック] ),
       ...
[ ORDER BY ... ]
[ LIMIT ... ]
```

ウィンドウフレームは、テーブルの中に設定される**パーティション**の範囲に限定される。言い換えれば、ウィンドウフレームはパーティションの部分集合である。テーブルのレコードは、 `OVER` 句の中の `PARTITION BY` で指定したカラムの値（の組み合わせ）でパーティションに分割される。 `PARTITION BY` を省略した場合は、テーブルの全レコードが 1 つのパーティションとなる。

``` text
 テーブル
┏━━━━━━━━━━━━━┓
┃┌───────────┐┃
┃│パーティション1       │┃
┃│┌─────────┐│┃
┃││ウィンドウフレーム││┃
┃││                  ││┃
┃│└─────────┘│┃
┃├───────────┤┃
┃│  パーティション2     │┃
┃│┌─────────┐│┃
┃││ウィンドウフレーム││┃
┃││                  ││┃
┃│└─────────┘│┃
┃└───────────┘┃
┗━━━━━━━━━━━━━┛
```

`OVER` 句の中の `ORDER BY` で指定したカラムの値（の組み合わせ）で各パーティション内のレコードがソートされる。`ORDER BY` の結果が同じ順位であるレコードのことを**ピア**（peer）と呼ぶ。`ORDER BY` がない場合は、パーティション内の全レコードがピアとされる。

パーティション内でフレームスペックを満たすレコードの集合がウィンドウフレームとなる。

ウィンドウ関数として、ビルトインの関数と集約関数が使える。ビルトインのウィンドウ関数のうち、以下の関数はウィンドウフレームを計算せず、パーティションの範囲で処理を行う（つまり、フレームスペックの指定は無視される）。

| 関数 | 機能 |
|:---|:---|
| `ROW_NUMBER()` | 現在のパーティション内のレコードの番号（`1` から始まる整数）を返す |
| `RANK()` | 現在のレコードを含むピア単位のグループで最初のレコードの `ROW_NUMBER()` を返す。これは `ORDER BY` による値の順位で、同順位の後は<br />飛ばした番号になる（例: 1、2、2、4） |
| `DENSE_RANK()` | パーティション内の現在のレコードを含むピア単位のグループの数。これは `ORDER BY` による値の順位で、同順位の後は次の番号になる<br />（例: 1、2、2、3） |
| `PERCENT_RANK()` | `( RANK() 関数で計算した順位 - 1 )  /  ( パーティションのレコード数 - 1 )` を返す |
| `CUME_DIST()` | 現在のレコードを含むピア単位のグループ内で最後のレコードでの `ROW_NUMBER()` 関数の値を、パーティションのレコード数で割った結果<br />を返す |
| `NTILE(N)` | パーティションを可能な限り均等に `N` 個のグループに分割し、`ORDER BY` による値の順序で各グループに `1` から `N` までの整数を割り当<br />て、現在のレコードが属するグループに割り当てられた整数値を返す |
| `LAG(カラム名[, オフセット[, デフォルト]])` | 現在のレコードを基準にしてオフセット前（オフセットの指定がなければ 1 つ前）のレコードからカラムの値を取得して返す。パーティション<br />内にオフセット前のレコードがなければ NULL を返すが、デフォルトが指定されているときはそれを返す |
| `LEAD(カラム名[, オフセット[, デフォルト]])` | 現在のレコードを基準にしてオフセット後（オフセットの指定がなければ 1 つ後）のレコードからカラムの値を取得して返す。パーティション<br />内にオフセット後のレコードがなければ NULL を返すが、デフォルトが指定されているときはそれを返す |

`ORDER BY` 句の指定を省略した場合、全てのレコードがピアとみなされるため、`RANK()` 関数と `DENSE_RANK()` 関数では `1` が返され、 `PERCENT_RANK()` 関数では `0.0` が返され、`CUME_DIST()` 関数では `1.0` が返される。これら以外の関数では、レコードが取得された順序（`OVER` 句の外で `ORDER BY` を使用していればソートされた順序）に基づいて計算が行われる。

In [ ]:
import sqlite3

con = sqlite3.connect(":memory:")
sql_script = """
CREATE TABLE IF NOT EXISTS t1(col1 VARCHAR(1), col2 VARCHAR(10));
INSERT INTO t1 VALUES
  ('a', 'one__'),
  ('a', 'two__'),
  ('a', 'three'),
  ('b', 'four_'),
  ('c', 'five_'),
  ('c', 'six__');
"""
con.executescript(sql_script)

res = con.execute(
    """
SELECT col1                AS col1,
  ROW_NUMBER() OVER win    AS row_number,
  RANK() OVER win          AS rank,
  DENSE_RANK() OVER win    AS dense_rank,
  PERCENT_RANK() OVER win  AS percent_rank,
  CUME_DIST() OVER win     AS cume_dist
FROM t1
WINDOW win AS (ORDER BY col1);
"""
)
print(f"{[col for col, *_ in res.description]}")
for row in res:
    print(row)
print("")

res = con.execute(
    """
SELECT col1, col2, ntile(2) OVER win AS ntile_2, ntile(4) OVER win AS ntile_4
FROM t1
WINDOW win AS (ORDER BY col1);
"""
)
print(f"{[col for col, *_ in res.description]}")
for row in res:
    print(row)

con.close()

['col1', 'row_number', 'rank', 'dense_rank', 'percent_rank', 'cume_dist']
('a', 1, 1, 1, 0.0, 0.5)
('a', 2, 1, 1, 0.0, 0.5)
('a', 3, 1, 1, 0.0, 0.5)
('b', 4, 4, 2, 0.6, 0.6666666666666666)
('c', 5, 5, 3, 0.8, 1.0)
('c', 6, 5, 3, 0.8, 1.0)

['col1', 'col2', 'ntile_2', 'ntile_4']
('a', 'one__', 1, 1)
('a', 'two__', 1, 1)
('a', 'three', 1, 2)
('b', 'four_', 2, 2)
('c', 'five_', 2, 3)
('c', 'six__', 2, 4)

一方、集約関数をウィンドウ関数として使う場合は、全てウィンドウフレームが計算される。次のビルトインのウィンドウ関数でもウィンドウフレームが計算される。

| 関数 | 機能 |
|:---|:---|
| `FIRST_VALUE(カラム名)` | 現在のレコードに関するウィンドウフレームの最初のレコードからカラムの値を取得して返す |
| `LAST_VALUE(カラム名)` | 現在のレコードに関するウィンドウフレームの最後のレコードからカラムの値を取得して返す |
| `NTH_VALUE(カラム名, N)` | 現在のレコードに関するウィンドウフレームで `N` 番目のレコードからカラムの値を取得して返す。`N` 番目のレコードがなければ NULL を返す |

`OVER` 句においてフレームスペックは次のように記述する:

``` sql
{ ROWS | RANGE | GROUPS } BETWEEN frame_start AND frame_end [ EXCLUDE frame_exclusion ]
```

frame_start と frame_end は、以下の 5 つから選択できる。

| 構文 | 意味 |
|:---|:---|
| `UNBOUNDED PRECEDING` | パーティションの最初から |
| `UNBOUNDED FOLLOWING` | パーティションの最後まで |
| `値 PRECEDING` | 現在のレコードから `値` の分だけ前。`値` の意味は次のとおり<br />・`ROWS` モードでは、`値` はレコードの数を意味する。ピアであっても別々のレコードとして数える<br />・`RANGE` モードでは、`値` は現在のレコードの値との差分を意味する。差分の先ではそれを含むピア単位のグループを処理する<br />・`GROUPS` モードでは、`値` は現在のレコードを含むピア単位のグループ数を意味する |
| `値 FOLLOWING` | 現在のレコードから `値` の分だけ後。`値` の意味は上記と同じ |
| `CURRENT ROW` | `ROWS` モードでは現在のレコード、`RANGE` モードと `GROUPS` モードでは現在のレコードを含むピア単位のグループ |

frame_start のみを指定することもでき、その場合、`BETWEEN frame_start AND CURRENT ROW` と同じ意味になる。

`EXCLUDE frame_exclusion` は、以下の 4 つから選択できる。

| EXCLUDE frame_exclusion | 意味 |
|:---|:---|
| `EXCLUDE NO OTHERS` | 何も除外しない。`EXCLUDE frame_exclusion` を省略した時と同じ |
| `EXCLUDE CURRENT ROW` | `CURRENT ROW` を除外する |
| `EXCLUDE GROUP` | 現在のレコードを含むピア単位のグループを除外する |
| `EXCLUDE TIES` | 現在のレコードは除外しないが、同じピア単位のグループに含まれる他のレコードを除外する |

フレームスペックを省略した場合は、 `RANGE BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW EXCLUDE NO OTHERS` と同じ意味になる。

したがって、ウィンドウ関数としての `SUM()` 関数は、デフォルトではパーティション内で最初のレコードから現在のレコードまでの累積合計を返す。また、フレームスペックを指定してウィンドウ関数としての `AVG()` が移動平均を返すようにできる。

In [ ]:
con = sqlite3.connect(":memory:")
sql_script = """
CREATE TABLE IF NOT EXISTS t2(
  year VARCHAR(4) NOT NULL,
  visitors INT NOT NULL,
  class VARCHAR(1) NOT NULL);
INSERT INTO t2 VALUES
  ('2016', 2078981, 'A'),
  ('2017', 2086410, 'A'),
  ('2018', 1968916, 'B'),
  ('2019', 1970516, 'A'),
  ('2020', 276471, 'B'),
  ('2021', 544818, 'B'),
  ('2022', 1291495, 'B'),
  ('2023', 1882573, 'B'),
  ('2024', 2075734, 'A');
"""
con.executescript(sql_script)

res = con.execute("""
SELECT year AS '年',
       visitors AS '年間入場者数',
       visitors - LAG(visitors, 1, 0) OVER (ORDER BY year) AS '前年差',
       SUM(visitors) OVER(ORDER BY year) AS '累計',
       AVG(visitors) OVER(ORDER BY year ROWS BETWEEN 2 PRECEDING AND CURRENT ROW) AS '移動平均'
FROM t2
""")
print(f"{[col for col, *_ in res.description]}")
for row in res:
    print(row)

con.close()

['年', '年間入場者数', '前年差', '累計', '移動平均']
('2016', 2078981, 2078981, 2078981, 2078981.0)
('2017', 2086410, 7429, 4165391, 2082695.5)
('2018', 1968916, -117494, 6134307, 2044769.0)
('2019', 1970516, 1600, 8104823, 2008614.0)
('2020', 276471, -1694045, 8381294, 1405301.0)
('2021', 544818, 268347, 8926112, 930601.6666666666)
('2022', 1291495, 746677, 10217607, 704261.3333333334)
('2023', 1882573, 591078, 12100180, 1239628.6666666667)
('2024', 2075734, 193161, 14175914, 1749934.0)

### DISTINCT 句 ###

``` sql
SELECT DISTINCT カラム名, ... FROM テーブル名;
```

`SELECT` 文で `DISTINCT` を指定すると、重複しないようにカラム値を取得する。カラム名の指定が 1 つであればそのカラム値が同じレコード、カラム名の指定が複数であればその値の組み合わせが全て同じレコードを除いてデータを取得する。

`DISTINCT` の指定は、`SELECT` の直後に記述する（`SELECT` と `DISTINCT` の間に置けるのは空白だけである）。

In [ ]:
import sqlite3

con = sqlite3.connect(":memory:")
sql_script = """
CREATE TABLE IF NOT EXISTS person(name TEXT, age INTEGER, height REAL);
INSERT INTO person VALUES
  ('山田太郎', 25, 170.5),
  ('田中花子', 18, 158.2),
  ('鈴木薫子', 30, 170.5),
  ('渡辺洋平', 30, 170.5);
"""
con.executescript(sql_script)

print("<DISTINCT height>")
res = con.execute("SELECT DISTINCT height FROM person")
print(f"{[col for col, *_ in res.description]}")
for row in res:
    print(row)

print("<DISTINCT age, height>")
res = con.execute("SELECT DISTINCT age, height FROM person")
print(f"{[col for col, *_ in res.description]}")
for row in res:
    print(row)

con.close()

<DISTINCT height>
['height']
(170.5,)
(158.2,)
<DISTINCT age, height>
['age', 'height']
(25, 170.5)
(18, 158.2)
(30, 170.5)

### サブクエリ ###

`SELECT` 文では、クエリを入れ子にすることができる。入れ子のクエリを**サブクエリ**と呼び、サブクエリを入れ子にしたクエリをメインクエリと呼ぶ。実行順序は「サブクエリ→メインクエリ」となり、サブクエリの実行結果を 1 つのテーブルと見なしながらメインクエリが実行される。

`FROM` 句で、テーブルの指定に代えてサブクエリを指定することができる。

``` sql
SELECT カラム名, ... FROM (サブクエリ) AS 名前
```

サブクエリを指定した場合、サブクエリにより取得されたレコードに対して、カラムの値を取得する。それらのレコードのカラムを参照するには、`AS` で指定した名前を使って `名前.カラム名` と記述する。

In [ ]:
import sqlite3

con = sqlite3.connect(":memory:")
sql_script = """
CREATE TABLE IF NOT EXISTS person(name TEXT, age INTEGER, address TEXT);
INSERT INTO person VALUES
  ('Yamada', 19, 'Tokyo'),
  ('Andou', 34, 'Osaka'),
  ('Kuwata', 26, 'Tokyo'),
  ('Wada', 18, 'Tokyo'),
  ('Suzuki', 27, 'Osaka'),
  ('Yamada', 31, 'Tokyo'),
  ('Anzai', 28, 'Nagoya'),
  ('Etou', 19, 'Tokyo');
"""
con.executescript(sql_script)

query = """
SELECT s1.address, s1.address_count
    FROM (SELECT address, COUNT(address) AS address_count
          FROM person
          GROUP BY address) AS s1;
"""
res = con.execute(query)
print(f"{[col for col, *_ in res.description]}")
for row in res:
    print(row)

con.close()

['address', 'address_count']
('Nagoya', 1)
('Osaka', 2)
('Tokyo', 5)

`WHERE` 句で、条件式の中にサブクエリを使うことができる。よく使われる形は、次のとおり:

``` sql
SELECT カラム名, ... FROM テーブル名 WHERE カラム名 〔=, <>, >, >=, <, <=〕 (サブクエリ)
SELECT カラム名, ... FROM テーブル名 WHERE カラム名 IN (サブクエリ)
SELECT カラム名, ... FROM テーブル名 WHERE カラム名 NOT IN (サブクエリ)
```

ただし、**1 行目の形では、サブクエリは  1 つのみカラムを持つレコードを返す必要がある**。唯一のカラムの値で比較が行われる。

In [ ]:
import sqlite3

con = sqlite3.connect(":memory:")
sql_script = """
CREATE TABLE IF NOT EXISTS employees(
    id INTEGER PRIMARY KEY,
    name TEXT,
    department_id INTEGER
    );
INSERT INTO employees(name, department_id) VALUES('佐藤', 1);
INSERT INTO employees(name, department_id) VALUES('田中', 2);
INSERT INTO employees(name, department_id) VALUES('鈴木', 3);

CREATE TABLE IF NOT EXISTS department(
    id INTEGER PRIMARY KEY,
    name TEXT
    );
INSERT INTO department VALUES(1, '企画部');
INSERT INTO department VALUES(2, '営業部');
INSERT INTO department VALUES(3, '開発部');
"""
con.executescript(sql_script)

query1 = """
SELECT *
    FROM employees
    WHERE department_id = (SELECT id FROM department WHERE name = '開発部')
"""
res = con.execute(query1)
print(f"{[col for col, *_ in res.description]}")
for row in res:
    print(row)
else:
    print("\n", end="")

query2 = """
SELECT *
    FROM employees
    WHERE department_id IN (SELECT id FROM department WHERE name IN ('企画部', '営業部'));
"""
res = con.execute(query2)
print(f"{[col for col, *_ in res.description]}")
for row in res:
    print(row)

con.close()

['id', 'name', 'department_id']
(3, '鈴木', 3)

['id', 'name', 'department_id']
(1, '佐藤', 1)
(2, '田中', 2)

`WHERE` 句では、サブクエリを伴う条件式として `EXISTS`, `NOT EXISTS` が使える。

``` sql
SELECT カラム名, ... FROM テーブル名 WHERE EXISTS(サブクエリ)
SELECT カラム名, ... FROM テーブル名 WHERE NOT EXISTS(サブクエリ)
```

  * `EXISTS(サブクエリ)` は、サブクエリが 1 つでもレコードを返したら 1 (True)、返さなければ 0 (False) を返す。
  * `NOT EXISTS(サブクエリ)` は、サブクエリが 1 つでもレコードを返したら 0 (False)、返さなければ 1 (True) を返す。

サブクエリの中では、どのテーブルのカラムを参照するのかを明確にするために `テーブル名.カラム名` の形を使うことができる。テーブルに `AS` で別名を付け、`別名.カラム名` としてもよい。

In [ ]:
import sqlite3

con = sqlite3.connect(":memory:")
sql_script = """
CREATE TABLE IF NOT EXISTS employees(
    id INTEGER PRIMARY KEY,
    name TEXT,
    department_id INTEGER
    );
INSERT INTO employees(name, department_id) VALUES('佐藤', 1);
INSERT INTO employees(name, department_id) VALUES('田中', 2);
INSERT INTO employees(name, department_id) VALUES('鈴木', 3);
INSERT INTO employees(name, department_id) VALUES('渡辺', 4);

CREATE TABLE department(
    id INTEGER PRIMARY KEY,
    name TEXT
    );
INSERT INTO department VALUES(1, '企画部');
INSERT INTO department VALUES(2, '営業部');
INSERT INTO department VALUES(3, '開発部');
"""
con.executescript(sql_script)

query = """
SELECT *
    FROM employees AS emp
    WHERE NOT EXISTS(SELECT * FROM department AS dep WHERE emp.department_id = dep.id);
"""
res = con.execute(query)
print(f"{[col for col, *_ in res.description]}")
for row in res:
    print(row)

con.close()

['id', 'name', 'department_id']
(4, '渡辺', 4)

### UPDATE 文 ###

``` sql
UPDATE テーブル名 SET カラム名1 = 値1, カラム名2 = 値2, ... [ WHERE 条件式 ];
```

指定したテーブルに含まれる全てのレコードに対して、各カラムの値をそれぞれ更新する。オプションの `WHERE 条件式` を指定した場合、`条件式` の評価が 1（TRUE）となるレコードのみ更新する。

### DELETE 文 ###

``` sql
DELETE FROM テーブル名 [ WHERE 条件式 ];
```

指定したテーブルに含まれる全てのレコードを削除する。オプションの `WHERE 条件式` を指定した場合、`条件式` の評価が 1（TRUE）となるレコードのみ削除する。

In [ ]:
import sqlite3

con = sqlite3.connect(":memory:")
sql_script = """
CREATE TABLE IF NOT EXISTS product(id INTEGER, name TEXT, price INTEGER);
CREATE TABLE IF NOT EXISTS log(id INTEGER PRIMARY KEY, act TEXT);

/* product テーブルにデータが追加/削除/更新された時にそれぞれトリガーが起動し、
   log テーブルの act カラムにログを記録する */

CREATE TRIGGER IF NOT EXISTS itrigger INSERT ON product
BEGIN
 INSERT INTO log(act) VALUES('INSERT Action');
END;

CREATE TRIGGER IF NOT EXISTS utrigger UPDATE ON product
BEGIN
 INSERT INTO log(act) VALUES('UPDATE Action');
END;

CREATE TRIGGER IF NOT EXISTS dtrigger DELETE ON product
BEGIN
 INSERT INTO log(act) VALUES('DELETE Action');
END;

INSERT INTO product values(1, 'Book', 1500);
UPDATE product SET price = 2500 WHERE id = 1;
DELETE FROM product WHERE id = 1;
"""
con.executescript(sql_script)
res = con.execute("SELECT * FROM log")
print(f"{[col for col, *_ in res.description]}")
for row in res:
    print(row)
con.close()

['id', 'act']
(1, 'INSERT Action')
(2, 'UPDATE Action')
(3, 'DELETE Action')

### RETURNING 句 ###

`RETURNING` 句は、`INSERT` 文と `UPDATE` 文と `DELETE` 文の最後に追加できるオプションで、処理の対象となるレコードの内容を返す。

`RETURNING` の後ろに値を取得したいカラムの名前を（カンマ区切りのリストで）指定する。`*` を指定すると、非表示でないすべてのカラム名のリストに展開される。 `RETURNING カラム名 AS 別名, ...` のようにカラムに別名をつけることもできる。

`RETURNING` 構文は、標準 SQL にはないことに注意する。バージョン 3.35.0 以降の SQLite でサポートされた拡張機能である。 SQLite の `RETURNING` 構文は PostgreSQL をモデルにしている。

In [ ]:
import sqlite3

con = sqlite3.connect(":memory:")
sql_script = """
CREATE TABLE IF NOT EXISTS customer(name TEXT, age INTEGER, address TEXT);
INSERT INTO customer VALUES ('Andou', 34, 'Osaka');
"""
con.executescript(sql_script)

def update_data(*params):
    res = con.execute("UPDATE customer SET address = 'Nagoya' WHERE name = ? RETURNING rowid, *", params)
    for row in res:
        print(row)

update_data('Andou')
con.close()

(1, 'Andou', 34, 'Nagoya')

複数テーブルの処理
------------------

### 複合クエリ ###

**複合クエリ**とは、連携して単一の結果を返すクエリのグループのことを指す。複合クエリは、以下の演算子を使って記述する。全ての演算子は左結合的である。

| 演算子 | 意味 | 集合演算 |
|:---|:---|:---|
| `UNION` | 重複する行を除いて、左辺に右辺を連結して返す | 和集合 |
| `UNION ALL` | 重複する行を含めて、左辺に右辺を連結して返す | |
| `INTERSECT` | 左辺にも右辺にも存在する行を返す | 積集合 |
| `EXCEPT` | 左辺にあって右辺にない行を返す | 差集合 |

左辺と右辺は、返す行（レコード）について、カラム定義とその順番が一致していなければならない。

In [ ]:
import sqlite3

con = sqlite3.connect(":memory:")
sql_script = """
CREATE TABLE IF NOT EXISTS book_1(title TEXT, author TEXT, price INTEGER);
INSERT INTO book_1 VALUES('SQL入門', 'Masumi', 2500);
INSERT INTO book_1 VALUES('Flutter入門', 'Masumi', 2500);
INSERT INTO book_1(title, author) VALUES ('HTML入門', 'Hiro');

/* book_1 のカラム定義のみを複製する。
   WHERE に必ず 0 (False) を返す条件文を書いてレコードがコピーされないようにしている */
CREATE TABLE IF NOT EXISTS book_2 AS SELECT * FROM book_1 WHERE 1 = 2;
INSERT INTO book_2 VALUES('SQL入門', 'Masumi', 2500);
INSERT INTO book_2 VALUES('GitHub入門2', 'Emma', 2200);
INSERT INTO book_2 VALUES('Flutter上級', 'Oliva', 4500);
"""
con.executescript(sql_script)

def output(header, res):
    print(header)
    print(f"{[col for col, *_ in res.description]}")
    for row in res:
        print(row)

output("<UNION>",
       con.execute("SELECT * FROM book_1 UNION SELECT * FROM book_2"))
output("<UNION ALL>",
       con.execute("SELECT * FROM book_1 UNION ALL SELECT * FROM book_2"))
output("<INTERSECT>",
       con.execute("SELECT * FROM book_1 INTERSECT SELECT * FROM book_2"))
output("<EXCEPT>",
       con.execute("SELECT * FROM book_1 EXCEPT SELECT * FROM book_2"))

con.close()

<UNION>
['title', 'author', 'price']
('Flutter上級', 'Oliva', 4500)
('Flutter入門', 'Masumi', 2500)
('GitHub入門2', 'Emma', 2200)
('HTML入門', 'Hiro', None)
('SQL入門', 'Masumi', 2500)
<UNION ALL>
['title', 'author', 'price']
('SQL入門', 'Masumi', 2500)
('Flutter入門', 'Masumi', 2500)
('HTML入門', 'Hiro', None)
('SQL入門', 'Masumi', 2500)
('GitHub入門2', 'Emma', 2200)
('Flutter上級', 'Oliva', 4500)
<INTERSECT>
['title', 'author', 'price']
('SQL入門', 'Masumi', 2500)
<EXCEPT>
['title', 'author', 'price']
('Flutter入門', 'Masumi', 2500)
('HTML入門', 'Hiro', None)

### 内部結合 ###

``` sql
SELECT テーブル名.カラム名, ... FROM テーブル名1 [ INNER ] JOIN テーブル名2 ON テーブル名1.カラム名1 = テーブル名2.カラム名2;
```

2 つのテーブルについて、それぞれ `ON` の条件でカラム値が一致するレコードのみを抽出して 1 つのレコードに結合する。これを**内部結合**と呼ぶ。`ON` の条件では、どちらか一方のテーブルのカラムは重複する値を持たないことが必要である。 `ON` の条件で一致しない以上は、どちらのテーブルのレコードも抽出されないことに注意する。

内部結合の場合は `ON` の条件が同じなら、どちらのテーブルを先に記述しても結果としては（カラムの順番を除いて）同じになる。

結合済みのレコードからカラムを指定して値を取得する場合、取得するカラムはどちらのテーブルにあるどのカラムなのかが分かるように `テーブル名.カラム名` の形式で指定する。どちらかのテーブルにしか含まれていないカラム名ならば、`テーブル名.` を省略してもよい。`ON` の条件でのカラム指定も同様である。

`テーブル名 AS 別名` でテーブルの別名を指定し、その別名を使うこともできる。`AS` を省略して `テーブル名 別名` と書いてもよい。

`WHERE 条件式` を指定すれば、結合済みのレコードを条件式で絞り込むことができる。`WHERE 条件式` は、内部結合の記述の後ろに記述する。

`INNER` は省略できる。さらに、次のように、`INNER JOIN` をカンマ `,` に代えてもよい:

``` sql
SELECT テーブル名.カラム名, ... FROM テーブル名1, テーブル名2 ON テーブル名1.カラム名1 = テーブル名2.カラム名2;
```

テーブルの結合が必要な事例を挙げる。次のような 2 つのテーブルがあるとする。

![](https://www.plantuml.com/plantuml/png/SoWkIImgAStDuR8fBgdCIRNZAihFBr6evb9Go4qiIi_Cir8mi0Po2X9JKZBpqi6yMgwIp9ASLB2YjFoyak3CgbGh1KCJQnWVQ11G82-_A3Sn1wJSHXzgTd5sPbv1Ob5YBimy1HE8MLofkGKv-PMfgSLSDifkOA2Zx0m6TZMscIarjdc9kQarjYcfGEqbkQbv9V50GQuQmvedUoUycBwanX38CQfvFcN3anrhQuo07EEQbnrRdirPKMCCv9ZKFDknyCM-NJKcG8vfpSlLCvwjx0RfuK8OYCzYY4rx6fzFsVsoUGNOggVJjZrRkXR8WzWrhVlvp5rWNcfUYWB4Jmv09Z1a0G00)

1 つの department のレコード（部署）は、employees の各レコード（社員）に関連付けられている。多重度は一対多である。この場合に、テーブル結合をしないで、2 つのテーブルから直接 5 人の社員が所属する部署の名前を取得する SQL 文を考える。まず、各社員の department_id を取得する SQL 文 `SELECT department_id FROM employees LIMIT 5;` を発行する。次に、部署の id が department_id に一致するという条件で部署の name を取得する SQL 文 `SELECT name FROM department WHERE id=?;`（`?` は department_id に置き換えられるプレースホルダー）を 5 回発行することになる。都合、5+1 回の SQL 文発行となる。この方法では、社員の数が 10000 人なら 10000+1 回の SQL 文発行となり、パフォーマンスが悪化する。この問題を **N+1 問題**という。N+1 問題の解決策の 1 つがテーブル結合である。テーブルを結合する SQL 文を 1 つ発行するだけで、必要な情報を取得することができる。

In [ ]:
import sqlite3

con = sqlite3.connect(":memory:")
sql_script = """
CREATE TABLE IF NOT EXISTS employees(
    id INTEGER PRIMARY KEY,
    name TEXT,
    department_id INTEGER
    );
INSERT INTO employees VALUES
  (1, '佐藤', 1),
  (2, '田中', 2),
  (3, '鈴木', 3),
  (4, '渡辺', 4),
  (5, '高橋', 1);

CREATE TABLE department(
    id INTEGER PRIMARY KEY,
    name TEXT
    );
INSERT INTO department VALUES
  (1, '企画部'),
  (2, '営業部'),
  (3, '開発部');
"""
con.executescript(sql_script)

# 結合したデータをそのまま出力する
res = con.execute("SELECT * FROM employees AS emp INNER JOIN department AS dep ON emp.department_id = dep.id")
print(f"{[col for col, *_ in res.description]}")
for row in res:
    print(row)
else:
    print("\n", end="")

# テーブルの順番を入れ替えても同じ結果を得る
res = con.execute("SELECT * FROM department AS dep INNER JOIN employees AS emp ON emp.department_id = dep.id")
print(f"{[col for col, *_ in res.description]}")
for row in res:
    print(row)
else:
    print("\n", end="")

# WHERE 条件式を付け、かつ、値を取得するカラムを選択する
query = """
SELECT emp.id AS id, emp.name AS name, dep.name AS department
    FROM employees AS emp, department AS dep
    ON emp.department_id = dep.id
    WHERE dep.id = 1
"""
res = con.execute(query)
print(f"{[col for col, *_ in res.description]}")
for row in res:
    print(row)

con.close()

['id', 'name', 'department_id', 'id', 'name']
(1, '佐藤', 1, 1, '企画部')
(2, '田中', 2, 2, '営業部')
(3, '鈴木', 3, 3, '開発部')
(5, '高橋', 1, 1, '企画部')

['id', 'name', 'id', 'name', 'department_id']
(1, '企画部', 1, '佐藤', 1)
(2, '営業部', 2, '田中', 2)
(3, '開発部', 3, '鈴木', 3)
(1, '企画部', 5, '高橋', 1)

['id', 'name', 'department']
(1, '佐藤', '企画部')
(5, '高橋', '企画部')

上記のコードでは、employees デーブルの「渡辺」の department_id が不正な値である。このように不正な値や NULL を含むレコードは、内部結合では取得できない（つまり結合後に消失する）ことに注意する。

### 外部結合 ###

``` sql
SELECT テーブル名.カラム名, ... FROM テーブル名1 LEFT [ OUTER ] JOIN テーブル名2 ON テーブル名1.カラム名1 = テーブル名2.カラム名2;
```

`テーブル名1` のレコードに対して、`テーブル名2` のレコードの中から `ON` の条件でカラム値が一致するものを全て抽出し、それぞれ `テーブル名1` のレコードに結合する。`ON` の条件で一致する `テーブル名2` のレコードがない場合は、`テーブル名2` に由来するカラムを `NULL` にして `テーブル名1` のレコードに結合する。これを `テーブル名1` の全てのレコードに対して繰り返す。`テーブル名1` のレコードは、全て少なくとも 1 回は抽出される。これを**左外部結合**と呼ぶ。

``` sql
SELECT テーブル名.カラム名, ... FROM テーブル名1 RIGHT [ OUTER ] JOIN テーブル名2 ON テーブル名1.カラム名1 = テーブル名2.カラム名2;
```

`テーブル名2` のレコードに対して、`テーブル名1` のレコードの中から `ON` の条件でカラム値が一致するものを全て抽出し、それぞれ `テーブル名2` のレコードに結合する。`ON` の条件で一致する `テーブル名1` のレコードがない場合は、`テーブル名1` に由来するカラムを `NULL` にして `テーブル名2` のレコードに結合する。これを `テーブル名2` の全てのレコードに対して繰り返す。`テーブル名2` のレコードは、全て少なくとも 1 回は抽出される。これを**右外部結合**と呼ぶ。

``` sql
SELECT テーブル名.カラム名, ... FROM テーブル名1 FULL [ OUTER ] JOIN テーブル名2 ON テーブル名1.カラム名1 = テーブル名2.カラム名2;
```

2 つのテーブルのレコードを全て少なくとも 1 回は抽出し、その際、`ON` の条件でカラム値が一致する各テーブルのレコードを結合する。`ON` の条件で一致するレコードがない場合は、カラムを `NULL` にしたレコードが結合される。これを**完全外部結合**と呼ぶ。

以下の事項は、3 つの外部結合に共通する。

  * `ON` の条件では、少なくともどちらか一方のテーブルのカラムは重複する値を持たないことが必要である。
  * 結合済みレコードのカラムの順番は、まず `テーブル名1` に由来するカラム、次に `テーブル名2` に由来するカラムとなる。
  * `OUTER` は省略できる。
  * 結合済みレコードからカラムを指定して値を取得する方法や、別名の使用、`WHERE 条件式` は内部結合の場合と同様である。

なお、SQLite では、右外部結合と完全外部結合は v3.39.0 以降でサポートされる。

In [ ]:
import sqlite3

con = sqlite3.connect(":memory:")
sql_script = """
CREATE TABLE IF NOT EXISTS employees(
    id INTEGER PRIMARY KEY,
    name TEXT,
    department_id INTEGER
    );
INSERT INTO employees VALUES
  (1, '佐藤', 1),
  (2, '田中', 2),
  (3, '鈴木', 3),
  (4, '渡辺', 4),
  (5, '高橋', 1);

CREATE TABLE IF NOT EXISTS department(
    id INTEGER PRIMARY KEY,
    name TEXT
    );
INSERT INTO department VALUES
  (1, '企画部'),
  (2, '営業部'),
  (3, '開発部');
"""
con.executescript(sql_script)

def output(header, res):
    print(header)
    print(f"{[col for col, *_ in res.description]}")
    for row in res:
        print(row)

output("<LEFT OUTER JOIN>",
       con.execute("SELECT * FROM employees AS emp LEFT JOIN department AS dep ON emp.department_id = dep.id"))
output("<LEFT OUTER JOIN>",
       con.execute("SELECT * FROM department AS dep LEFT JOIN employees AS emp ON emp.department_id = dep.id"))
# v3.39.0 以降でサポート
# output("<RIGHT OUTER JOIN>",
#        con.execute("SELECT * FROM employees AS emp RIGHT JOIN department AS dep ON emp.department_id = dep.id"))
# output("<RIGHT OUTER JOIN>",
#        con.execute("SELECT * FROM department AS dep RIGHT JOIN employees AS emp ON emp.department_id = dep.id"))
# output("<FULL OUTER JOIN>",
#        con.execute("SELECT * FROM employees AS emp FULL JOIN department AS dep ON emp.department_id = dep.id"))

con.close()

<LEFT OUTER JOIN>
['id', 'name', 'department_id', 'id', 'name']
(1, '佐藤', 1, 1, '企画部')
(2, '田中', 2, 2, '営業部')
(3, '鈴木', 3, 3, '開発部')
(4, '渡辺', 4, None, None)
(5, '高橋', 1, 1, '企画部')
<LEFT OUTER JOIN>
['id', 'name', 'id', 'name', 'department_id']
(1, '企画部', 1, '佐藤', 1)
(1, '企画部', 5, '高橋', 1)
(2, '営業部', 2, '田中', 2)
(3, '開発部', 3, '鈴木', 3)

内部結合、外部結合については、次の画像でわかりやすくまとめられている（[Wikimedia Commons 記事](https://commons.wikimedia.org/wiki/File:SQL_Joins.svg)から引用）。

![](https://upload.wikimedia.org/wikipedia/commons/9/9d/SQL_Joins.svg)

### 交差結合 ###

``` sql
SELECT テーブル名.カラム名, ... FROM テーブル名1 CROSS JOIN テーブル名2;
```

2 つのテーブルのレコードのペアを全て使って、それぞれ結合する。`テーブル名1` のレコード数×`テーブル名2` のレコード数の行が生成されるので、処理に時間がかかる可能性がある。

結合済みレコードからカラムを指定して値を取得する方法や、別名の使用、`WHERE 条件式` は内部結合の場合と同様である。

In [ ]:
import sqlite3

con = sqlite3.connect(":memory:")
sql_script = """
CREATE TABLE IF NOT EXISTS employees(
    id INTEGER PRIMARY KEY,
    name TEXT,
    department_id INTEGER
    );
INSERT INTO employees VALUES
  (1, '佐藤', 1),
  (2, '田中', 2),
  (3, '鈴木', 3),
  (4, '渡辺', 4),
  (5, '高橋', 1);

CREATE TABLE IF NOT EXISTS department(
    id INTEGER PRIMARY KEY,
    name TEXT
    );
INSERT INTO department VALUES
  (1, '企画部'),
  (2, '営業部'),
  (3, '開発部');
"""
con.executescript(sql_script)

res = con.execute("SELECT * FROM employees CROSS JOIN department")
print(f"{[col for col, *_ in res.description]}")
for row in res:
    print(row)

con.close()

['id', 'name', 'department_id', 'id', 'name']
(1, '佐藤', 1, 1, '企画部')
(1, '佐藤', 1, 2, '営業部')
(1, '佐藤', 1, 3, '開発部')
(2, '田中', 2, 1, '企画部')
(2, '田中', 2, 2, '営業部')
(2, '田中', 2, 3, '開発部')
(3, '鈴木', 3, 1, '企画部')
(3, '鈴木', 3, 2, '営業部')
(3, '鈴木', 3, 3, '開発部')
(4, '渡辺', 4, 1, '企画部')
(4, '渡辺', 4, 2, '営業部')
(4, '渡辺', 4, 3, '開発部')
(5, '高橋', 1, 1, '企画部')
(5, '高橋', 1, 2, '営業部')
(5, '高橋', 1, 3, '開発部')

### eager loading ###

複合クエリやテーブル結合を使用すると、テーブルが一時的に作成されて使い捨てにされる。クエリの結果が非常に大きい場合、これは深刻なパフォーマンス低下を引き起こす。 N+1 問題の解決策としてテーブル結合を安易に使うことはできないということである。

そこで、テーブル結合の代わりに、 eager loading（事前読み込み）と呼ばれる手法が使われることがある。 eager loading は、一方のテーブルから SELECT 文であらかじめデータを取得しておいて、そのデータを使って他方のテーブルから SELECT 文と WHERE - IN 句で必要なデータを取得するというものである。 SQL 文の発行は 2 回で済む。このようなことは、クエリだけで完結できるものではないのであって、 2 つのクエリの間に Python 側の処理を挟むことによって実現している。

In [ ]:
import sqlite3

con = sqlite3.connect(":memory:")
sql_script = """
CREATE TABLE IF NOT EXISTS employees(
    id INTEGER PRIMARY KEY,
    name TEXT,
    department_id INTEGER
    );
INSERT INTO employees VALUES
  (1, '佐藤', 1),
  (2, '田中', 2),
  (3, '鈴木', 3),
  (4, '渡辺', 4),
  (5, '高橋', 1);

CREATE TABLE IF NOT EXISTS department(
    id INTEGER PRIMARY KEY,
    name TEXT
    );
INSERT INTO department VALUES
  (1, '企画部'),
  (2, '営業部'),
  (3, '開発部');
"""
con.executescript(sql_script)

# eager loading
res1 = con.execute("SELECT * FROM department")
departments = {row[0]: row[1] for row in res1}
print(f"{departments=}")
sql = "SELECT * FROM employees WHERE department_id IN (%s)" % ",".join(["?"] * len(departments))
print(f"{sql=}")
res2 = con.execute(sql, list(departments))
for row in res2:
    print(row[1], departments[row[2]])

con.close()

departments={1: '企画部', 2: '営業部', 3: '開発部'}
sql='SELECT * FROM employees WHERE department_id IN (?,?,?)'
佐藤 企画部
田中 営業部
鈴木 開発部
高橋 企画部

トランザクション制御
--------------------

### SQLite のトランザクション制御 ###

以下の標準 SQL のコマンドは、TCL に分類される。TCL は、Transaction Control Language（トランザクション制御言語）の略で、その名のとおりトランザクションの制御に使用する命令である。

  * `COMMIT`
  * `ROLLBACK`
  * `SET TRANSACTION`

SQLite は、 `SET TRANSACTION` をサポートしない代わりに、以下のコマンドをサポートする。

  * `BEGIN`
  * `SAVEPOINT`

標準 SQL では、トランザクションの開始は常に暗黙的で、`COMMIT` または `ROLLBACK` で終了する。一方、SQLite では、トランザクションの暗黙的な開始はオートコミットモードの機能とされ、暗黙的なコミットとセットになる。オートコミットモードはデフォルトでオンになっていて、`BEGIN` コマンドでトランザクションを開始することにより無効になり、`COMMIT` または `ROLLBACK` によって再度有効になる。

また、SQLite は標準 SQL とは異なるトランザクションの分離レベルを定義している。トランザクションの分離レベルとは、複数のトランザクションが開始されている場合に、それらが互いに干渉して不整合が生じることを回避するため、それらがどの程度互いに影響を受けずに処理を行えるかを制御するものである。SQLite のトランザクションの分離レベルは次のとおり。

  * `DEFERRED`: 排他制御は、この接続が実際に読み書きを行うまで延期される。延期中は、他の接続による読み書きが可能である。SQLite のトランザクションでは、これがデフォルトの動作となる。
  * `IMMEDIATE`: 直ちにデータベースをロックする。トランザクション中に、他の接続による書き込みを許可しないが、読み出しは許可する。
  * `EXCLUSIVE`: 直ちにデータベースをロックする。トランザクション中に、他の接続による読み書きを許可しない。

``` sql
BEGIN [ DEFERRED | IMMEDIATE | EXCLUSIVE ] [ TRANSACTION ];
```

`BEGIN` コマンドは、オートコミットモードを無効にし、トランザクションを手動で開始する。トランザクションの分離レベルの設定や、`TRANSACTION` の記述は省略できる。したがって、最も簡単な `BEGIN` 文は `BEGIN;` となる。

オートコミットモードが有効な場合、および、 `BEGIN` コマンドでトランザクションの分離レベルを指定しなかった場合、トランザクションの分離レベルは `DEFERRED` である。SQLite による DB 利用は 1 接続という形が多いため、最も処理の軽い `DEFERRED` がデフォルトになっている。同時に他の接続がある場合は、不整合が生じることを回避するために、`BEGIN` コマンドで `IMMEDIATE` か `EXCLUSIVE` のトランザクションを開始する必要がある。

``` sql
SAVEPOINT セーブポイント名
```

`SAVEPOINT` コマンドは、名前を付けて新しいトランザクションを開始する。既存のトランザクションに対して新しいトランザクションがネストされる形となる。

なお、`BEGIN` コマンドで作成されたトランザクションはネストされない。トランザクション内で `BEGIN` コマンドを実行すると、エラーが発生して失敗する。

``` sql
COMMIT [ TRANSACTION ]
```

`COMMIT` コマンドは、未処理のトランザクションをすべてコミットし、全てのトランザクションを終了する。`TRANSACTION` の記述は省略できる。

``` sql
ROLLBACK [ TRANSACTION ] [ TO [ SAVEPOINT ] セーブポイント名 ]
```

`TO` 句のない `ROLLBACK` コマンドは全てのトランザクションをロールバックし、全てのトランザクションを終了する。`TO` 句を指定した `ROLLBACK` コマンドは、一致する名前を持つ最新のセーブポイントまでトランザクションを時間を遡ってロールバックする。一致する名前のセーブポイントで開始したトランザクションは残る。一致する名前のセーブポイントが見つからない場合は、エラーで失敗し、DB の状態は変更されない。`TRANSACTION` や `SAVEPOINT` の記述は省略できる。

In [ ]:
import sqlite3

con = sqlite3.connect(":memory:")
sql_script = """
CREATE TABLE IF NOT EXISTS book(title TEXT, author TEXT, price INTEGER);
BEGIN;
INSERT INTO book VALUES('SQL入門', 'Masumi', 2500);
SAVEPOINT temp_savepoint;
INSERT INTO book VALUES('Flutter入門', 'Masumi', 2500);
INSERT INTO book(title, author) VALUES('HTML入門', 'Hiro');
ROLLBACK TO SAVEPOINT temp_savepoint;
INSERT INTO book VALUES('Flutter上級', 'Oliva', 4500);
COMMIT;
"""
con.executescript(sql_script)
res = con.execute("SELECT * FROM book")
print(f"{[col for col, *_ in res.description]}")
for row in res:
    print(row)

['title', 'author', 'price']
('SQL入門', 'Masumi', 2500)
('Flutter上級', 'Oliva', 4500)

### Python によるトランザクション制御 ###

Python からのトランザクション処理は、DB-API 2.0 の `commit()` や `rollback()` を使用できる。これに関して PEP 249 は、DBMS がオートコミット機能をサポートしている場合、オートコミット機能は初期状態でオフになっていなければならないとしている。そうでないと、先にコミットが自動で行われて `commit()` や `rollback()` は効果がないからである。

しかしながら、SQLite のオートコミットモードはデフォルトでオフにできない。そこで、`sqlite3` はトランザクションを制御する複数の方法を提供している。関係するコネクションオブジェクトの属性は以下の通り。

  * `isolation_level`: `sqlite3` の旧来のトランザクション処理モードを制御する。
  * `autocommit`: PEP 249 対応のトランザクションの振る舞いを制御する。Python 3.12 で追加。
  * `in_transaction`: 読み取り専用プロパティで、トランザクション中でコミットされていない変更がある場合は `True`、それ以外の場合は `False` を返す。

`isolation_level` 属性は、一般に `sqlite3.connect()` の `isolation_level` 引数を使用して設定する。一定の文字列か `None` を指定できる。

`isolation_level` が `'DEFERRED'`, `'IMMEDIATE'`, `'EXCLUSIVE'` のいずれかに設定された接続の場合、 `execute()` や `executemany()` は、開始されているトランザクションがなく、かつ、SQL 文が `INSERT` または `UPDATE` または `DELETE` 文であれば、SQL 文を実行する前に、暗黙的に `BEGIN` 文をその分離レベルで実行する。 `commit()` メソッドや `rollback()` メソッドを使用して、保留中のトランザクションをそれぞれコミットおよびロールバックする。`isolation_level` のデフォルト値は `'DEFERRED'`。

次のコードでは、預金口座の残高を記録する `accounts` テーブルに対して、振込処理を行う関数 `transfer()` を定義している。この関数は、コネクションオブジェクト、振込金額、振込元の口座名義、振込先の口座名義を引数に取る。関数の本体では、振込元の減算処理と振込先の加算処理をあえて 2 回の `execute()` に分けて行っている。 try 文で、この関数を 2 回呼び出している。2 回目の呼び出しでは、振込先に存在しない口座を指定してエラーを発生させ、例外処理で `rollback()` メソッドを呼び出す。

In [ ]:
import sqlite3


def transfer(conn, amount, sender_name, recipient_name):
    """口座振込の処理を行う"""
    # 振込元の減算処理
    conn.execute("UPDATE accounts SET balance = balance - ? WHERE name = ?", (amount, sender_name))
    recipient_check = conn.execute("SELECT * FROM accounts WHERE name = ?", (recipient_name,)).fetchall()
    if len(recipient_check) == 0:
        raise ValueError("振込先が正しくありません")
    # 振込先の加算処理
    conn.execute("UPDATE accounts SET balance = balance + ? WHERE name = ?", (amount, recipient_name))


database = "accounts.db"
con = sqlite3.connect(database)
sql_script = """
CREATE TABLE IF NOT EXISTS accounts(name TEXT, balance INTEGER);
INSERT INTO accounts VALUES('田中', 1000000);
INSERT INTO accounts VALUES('鈴木', 500000);
"""
con.executescript(sql_script)
# いったん接続を閉じる
con.close()

try:
    # 口座振込処理のための接続
    con = sqlite3.connect(database)
    transfer(con, 100000, "田中", "鈴木")
    transfer(con, 20000, "田中", "伊藤")  # 存在しない口座への振り込みでエラーを発生させる
except ValueError as err:
    con.rollback()
    print(f"{type(err).__name__}: {err}")
finally:
    con.commit()
    con.close()

# テーブルを確認
con = sqlite3.connect(database)
res = con.execute("SELECT * FROM accounts")
print(f"{[col for col, *_ in res.description]}")
for row in res:
    print(row)
con.close()

ValueError: 振込先が正しくありません
['name', 'balance']
('田中', 1000000)
('鈴木', 500000)

結果から、`finally` 節の `commit()` で確定される変更がなかったことがわかる。なぜならば、トランザクションは、1 回目の `transfer()` 呼び出しにより `execute()` が最初に実行された時点で（暗黙的な `BEGIN` 文の実行により）開始されていたからである。`rollback()` メソッドはこの時点まで時間を遡ってロールバックしている。

`isolation_level`が `None` に設定された接続の場合、暗黙的な `BEGIN` 文の実行は行われない。この接続では、SQLite のオートコミットモードがオンのままなので、`commit()` や `rollback()` は効果がない。 `None` の設定は、明示的に `BEGIN`, `COMMIT`, `ROLLBACK` 文を記述して、ユーザーが独自のトランザクション処理を行うために設けられている（[公式ドキュメント](https://docs.python.org/ja/3/library/sqlite3.html#transaction-control-via-the-isolation-level-attribute)参照）。もしユーザーが独自のトランザクション処理を記述せず、オートコミットモードに頼っていると、自動的なコミットのタイミングを見誤って意図しない結果を生じることがある。たとえば、上記のコードの try 文を、`isolation_level`が `None` に設定された接続に変更して、以下のようなコードを書いたとする:

In [ ]:
try:
    # 口座振込処理のための接続（オートコミットモードは有効）
    con = sqlite3.connect(database, isolation_level=None)
    transfer(con, 100000, "田中", "鈴木")
    transfer(con, 20000, "田中", "伊藤")  # 存在しない口座への振り込みでエラーを発生させる
except ValueError as err:
    print(f"{type(err).__name__}: {err}")  # オートコミットモードが有効なので、rollback() を使わない
finally:
    con.close()  # オートコミットモードが有効なので、commit() を使わない

# テーブルを確認
con = sqlite3.connect(database)
res = con.execute("SELECT * FROM accounts")
print(f"{[col for col, *_ in res.description]}")
for row in res:
    print(row)
con.close()

import os
os.unlink(database)

ValueError: 振込先が正しくありません
['name', 'balance']
('田中', 880000)
('鈴木', 600000)

結果から、1 回目の `transfer()` の処理は確定され、2 回目の `transfer()` の処理は振込元の減算処理だけ確定されたため、2 万円が行方不明になってしまった。オートコミットモードの機能により、`UPDATE` 文を発行する `execute()` を呼び出すたびに暗黙のトランザクション処理が行われてしまったからである。

コミットは時間がかかる処理なので、オートコミットモードのままで `execute()` や `executemany()` で大量のデータ変更を行おうとすると、非常に時間がかかることにも注意する。

`executescript()` メソッドは、 `isolation_level` の値に関係なく、与えられた SQL スクリプトの実行前に、保留中のトランザクションを暗黙にコミットする。

Python 3.12 からは、`autocommit` 属性によりトランザクションを制御する方法が追加された。この属性は、一般に `sqlite3.connect()` の `autocommit` 引数を使用して設定する。モジュール定数 `sqlite3.LEGACY_TRANSACTION_CONTROL` または `True` または `False` を指定できる。デフォルトでは、`sqlite3.LEGACY_TRANSACTION_CONTROL` であり、旧来どおり `isolation_level` 属性によってトランザクション制御が行われるから、`isolation_level` を使っている既存のコードの互換性は保たれる。

`autocommit` が `False` の場合、 `sqlite3.connect()` 関数やコネクションオブジェクトの `commit()` や `rollback()` メソッドは、暗黙に `BEGIN DEFERRED` 文を実行してトランザクションを開始する。このため、常にオートコミットが無効のままトランザクションが開いていることが保証される。

`autocommit` が `True` の場合、オートコミットはオンのままである。

クエリ実行計画
--------------

**クエリ実行計画**（query execution plan）とは、与えられた SQL 文に対して、RDBMS はどのインデックスを使って（あるいはインデックスを使わずにテーブルスキャンで）クエリを処理するかという情報である。

標準 SQL には、クエリ実行計画を出力するコマンドはない。しかし、代表的な RDBMS は、クエリ実行計画を出力する `EXPLAIN` コマンドをサポートする。SQLite もクエリ実行計画の出力をサポートするが、コマンドは `EXPLAIN QUERY PLAN` となる。

``` sql
EXPLAIN QUERY PLAN SQL文
```

次のコードでは、`'name'` カラム、`'created_at'` の順で指定した複合インデックスを作成している。

In [ ]:
import sqlite3
import time

con = sqlite3.connect(":memory:")
sql_script = """
CREATE TABLE IF NOT EXISTS users(
    id INTEGER PRIMARY KEY,
    name CHAR(30),
    email CHAR(256),
    created_at TEXT DEFAULT CURRENT_TIMESTAMP
    );
CREATE INDEX IF NOT EXISTS idx_users_name ON users(name);
"""
con.executescript(sql_script)

# 100件のレコードを作る
for i in range(100):
    time.sleep(0.01)
    username = "user" + str(i)
    con.execute(
        "INSERT INTO users(name, email) VALUES(?, ?)",
        (username, username + "@example.com"),
    )

# 名前が 'user98' のレコードを取り出してみる
res = con.execute("SELECT * FROM users WHERE name = 'user98'")
print(f"{[col for col, *_ in res.description]}")
for row in res:
    user98_created_at = row[3]
    print(row)

print("〈name を使った場合の実行計画〉")
plan = con.execute("EXPLAIN QUERY PLAN SELECT * FROM users WHERE name = 'user98'")
print(f"{[col for col, *_ in plan.description]}")
for row in plan:
    print(row)

print("〈created_at を使った場合の実行計画〉")
plan = con.execute("EXPLAIN QUERY PLAN SELECT * FROM users WHERE created_at = ?", (user98_created_at,))
print(f"{[col for col, *_ in plan.description]}")
for row in plan:
    print(row)

con.close()

['id', 'name', 'email', 'created_at']
(99, 'user98', 'user98@example.com', '2024-10-26 17:25:05')
〈name を使った場合の実行計画〉
['id', 'parent', 'notused', 'detail']
(3, 0, 0, 'SEARCH users USING INDEX idx_users_name (name=?)')
〈created_at を使った場合の実行計画〉
['id', 'parent', 'notused', 'detail']
(2, 0, 0, 'SCAN users')

実行計画の `'detail'` カラムに注目する。`'name'` を指定した検索ではインデックス `idx_users_name_created_at` が使われる。これに対して、 `'created_at'` を指定した検索ではテーブルスキャンが行われる。複合インデックスから 2 つ目以降のカラムのみを選んで検索に使うことはできないからである。

SQLite 独自のコマンド
---------------------

``` sql
VACUUM;
```

SQLite 独自の `VACUUM` コマンドは、データベースファイルを再構築する。データベースファイルからデータを削除しても、空のスペースが残る。`VACUUM` を実行してデータベースを再構築すると、この領域が再利用され、データベースファイルのサイズが削減される。

INTEGER PRIMARY KEY が付いたカラムがないテーブルの場合、`VACUUM` コマンドの実行により、格納されているデータに割り当てられた ROWID が変更される可能性がある。

`VACUUM` を実行しようとしているデータベース接続上に開始しているトランザクションがある場合、`VACUUM` は失敗する。

以下のコードは、`VACUUM` コマンドを使用してデータベースファイルを最適化する例である。

``` python
import sqlite3

con = sqlite3.connect("database.db")
cur = con.cursor()

# VACUUMコマンド実行
cur.execute("VACUUM;")

con.commit()
con.close()
```

``` sql
PRAGMA [pragma-name] [ = value ]
```

SQLite 独自の `PRAGMA` 文は、SQLite の動作を変更したり、SQLite に関する内部データを照会したりするために使用される。既出だが、次のコマンドを実行することで、外部キー制約を有効化することができる。

``` sql
PRAGMA foreign_keys = ON;
```

SQLite URI
----------

SQLite では、接続するデータベースファイルを、ファイルシステム上のパス名ではなく、`file:/path/to/database.db` のように URI 形式で指定することができる。スキームの部分は `'file:'` でなければならない。パスは相対パスまたは絶対パスにすることができる。クエリ文字列により、パラメーターを SQLite に渡すことができる。

| クエリ | 意味 |
|:---|:---|
| `mode` | データベースの読み取りモードを指定する<br /><br />・`mode=ro`: 読み取り専用<br /><br />・`mode=rw`: 読み書き可能<br /><br />・`mode=rwc`: 読み書き可能でファイルがなければ新規作成<br /><br />・`mode=memory`: インメモリ |

`sqlite3.connect()` 関数では、第 1 引数に URI 形式で指定する場合、`uri` 引数を `True` に設定する必要がある。

以下のコードは、データベースを読み取り専用で開く例である。

``` python
con = sqlite3.connect("file:database.db?mode=ro", uri=True)
```

UUID
----

データベースを使った Web アプリケーションでは、 URL にレコードの ID を含ませて、 URL から特定のレコードを抽出しクライアントへのレスポンスを生成するということが行われる。この場合、URL の中でレコードの ID が公開されるため、連番の ID を使うと以下のような弊害がある。

  * ID が容易に推測され、不正アクセスに利用される可能性がある
  * 一定期間の ID の増分を調べることでサイト全体の利用状況がわかる

そこで、衝突する可能性（＝同じ値が同時に存在する可能性）が極めて低いランダムな 128 ビットの数値として、**UUID**（Universally Unique Identifier）バージョン 4（v4）が使用される。

  * UUID は、標準化団体 [IETF](https://ja.wikipedia.org/wiki/Internet_Engineering_Task_Force) の RFC 4122 で規格化され、異なる生成方法によりバージョンが定められている。 v4 は完全に乱数のみによって UUID を生成する方法で、安全であるとされている。
  * UUID は 128 ビットの数値だが、 `550e8400-e29b-41d4-a716-446655440000` のような 32 桁の 16 進数文字列による表現も仕様で定められている。この表現で 2 つ目のハイフン `-` の直後の位置する桁がバージョンを示す。

SQLite には UUID を生成する関数がないが、その代用として `RANDOMBLOB()` という SQLite 独自の関数が用意されている。 `RANDOMBLOB(N)` で `N` バイト数分の `BLOB` 型の乱数を生成し、その値を `HEX()` 関数に渡し 16 進数文字列を得ることができる。

In [ ]:
import sqlite3
con = sqlite3.connect(":memory:")
res = con.execute("SELECT HEX(RANDOMBLOB(16))")  # SELECT 文で [FROM テーブル名] を省略すると関数の結果を取得する
for row in res:
    print(row)
con.close()

('70A7650B9212FE7EFC3E61EE8C761A5F',)

もちろん、この生成方法は UUID の標準に従っていない。 UUID の標準では、乱数の生成方法が決められ、特定の桁ではバージョンや変種を示すことが定められている。ちゃんと UUID の標準に従うなら、 Python 標準ライブラリの `uuid` モジュールを使用する必要がある。

`uuid.UUID` クラスは、 UUID を扱うためのクラスである。次のようにインスタンス化する。

``` python
# 32 桁の 16 進数文字列から生成（ハイフンを付けてもよい）
uuid.UUID('12345678123456781234567812345678')
uuid.UUID('12345678-1234-5678-1234-567812345678')

# 16 バイトのバイト列（バイトオーダーがビッグエンディアン）から生成
uuid.UUID(bytes='\x12\x34\x56\x78\x12\x34\x56\x78\x12\x34\x56\x78\x12\x34\x56\x78')

# 16 バイトのバイト列（バイトオーダーがリトルエンディアン）から生成
uuid.UUID(bytes_le='\x78\x56\x34\x12\x34\x12\x78\x56\x12\x34\x56\x78\x12\x34\x56\x78')

# 128 ビット整数から生成
uuid.UUID(int=0x12345678123456781234567812345678)
```

`uuid.UUID` の主な属性は次のとおり。

| 属性 | 意味 |
|:---|:---|
| `hex` | 32 桁の 16 進数文字列での UUID |
| `bytes` | 16 バイトのバイト列（バイトオーダーがビッグエンディアン）の UUID |
| `bytes_le` | 16 バイトのバイト列（バイトオーダーがリトルエンディアン）の UUID |
| `int` | 128 ビット整数での UUID |

`str(uuid)` は 32 桁の 16 進数で UUID を表す `'12345678-1234-5678-1234-567812345678'` 形式の文字列を返す。

また、 `uuid.uuid4()` 関数は、 UUID v4 を生成して `uuid.UUID` のインスタンスを返す。

In [ ]:
import uuid
id = uuid.uuid4()
id.hex, str(id), id.int

('72ecc51b02424858b08b242bb11aee62',
 '72ecc51b-0242-4858-b08b-242bb11aee62',
 152761371352646036865736636746232950370)

Python `sqlite3` モジュールのプレースホルダー機能を使えば、 `uuid.uuid4()` 関数の結果を SQL 文に埋め込むことができる。

もし MySQL の関数 `UUID_TO_BIN()`、`BIN_TO_UUID()` に相当する関数が必要ならば、 Python で次のコードのように定義できる。

In [ ]:
import uuid

def uuid_to_bin(string_uuid: str) -> bytes:
    u = uuid.UUID(string_uuid)
    return u.bytes

def bin_to_uuid(binary_uuid: bytes) -> str:
    u = uuid.UUID(bytes=binary_uuid)
    return str(u)

if __name__ == "__main__":
    string_uuid = str(uuid.uuid4())
    print(f"{string_uuid=}")
    binary_uuid = uuid_to_bin(string_uuid)
    print(f"{binary_uuid=}")
    assert bin_to_uuid(binary_uuid) == string_uuid

string_uuid='fb39682b-c97a-4194-be24-cfd631fcac27'
binary_uuid=b"\xfb9h+\xc9zA\x94\xbe$\xcf\xd61\xfc\xac'"

SQLite には UUID 用のデータ型はない。 16 バイトのバイト列形式が最も空間効率が良いので、これを BLOB affinity で格納するとよい。カラムには UNIQUE 制約を付けておく。

以下のコードは、 UUID v4 を格納するカラムを含むテーブルを作成する例である。

In [ ]:
import sqlite3
import uuid

con = sqlite3.connect(":memory:")
sql_script = """
CREATE TABLE IF NOT EXISTS customers(
    id INTEGER PRIMARY KEY,
    name TEXT,
    uuid BLOB UNIQUE
);
"""
con.executescript(sql_script)
data = ["山田太郎", uuid.uuid4().bytes]
res = con.execute("INSERT INTO customers(name, uuid) VALUES(?, ?) RETURNING *", data)
print(f"{[col for col, *_ in res.description]}")
for row in res:
    print(row, f"uuid={uuid.UUID(bytes=row[2])}")
con.close()

['id', 'name', 'uuid']
(1, '山田太郎', b'\xd4\x99\x93\xc0\x1d\x80@\x84\xbe\x91H\xab\x08w\xd2W') uuid=d49993c0-1d80-4084-be91-48ab0877d257

上記のコードでは、 `id INTEGER PRIMARY KEY` というカラムも定義している。 `id` カラムは連番となるので時系列ソートが可能である。このテーブルでは、ローカルなレコードの処理に `id` カラムを使用し、公開する ID に UUID を使用することができる。

主キーによる時系列ソートが必要でなく、かつ、将来テーブルを結合することに備えて複数のテーブルにわたり ID を全て異なるものにしたい場合には、主キーに UUID v4 を使用することも考えられる。ただし、主キーに UUID v4 を使用すると、単調増加の整数値を使用する場合より比較やインデックス化にコストがかかるので、パフォーマンスが低下する可能性がある。